[2020-05-15 20:08] kpu opened #105 "Tokenized BLEU considered harmful - Discussion on community-based process"
https://github.com/huggingface/nlp/blob/7d1526dfeeb29248d832f1073192dbf03ad642da/metrics/bleu/bleu.py#L76 assumes the inputs are tokenized by the user.  This is bad practice because the user's tokenizer is usually not the same as the one used by `mteval-v13a.pl`, the closest thing we have to a standard.  Moreover, tokenizers are like window managers: they can be endlessly customized and nobody has

[2020-07-15 01:16] astariul opened #106 "🌟 [Metric Request] WOOD score"

[2020-11-03 15:26] sshleifer opened #107 "Seq2Seq Metrics QOL: Bleu, Rouge"
Putting all my QOL issues here, idt I will have time to propose fixes, but I didn't want these to be lost, in case they are useful. I tried using `rouge` and `bleu` for the first time and wrote down everything I didn't immediately understand:

+ Bleu expects tokenization, can I just kwarg it like sacrebleu?
+ different signatures, means that I would have had to add a lot of conditionals + pre and

[2020-11-15 20:57] alexyalunin opened #108 "Add support for other languages for rouge"

[2020-12-17 05:17] YipingNUS opened #109 "Using datasets.Metric with Trainer()"

[2021-02-27 20:43] stas00 opened #110 "[request] make load_metric api intutive"
[code]

May I suggest that `num_process` is confusing as it's singular yet expects a plural value and either
* be deprecated in favor of `num_processes` which is more intuitive since it's plural as its expected value
* or even better why not mimic the established dist environment convention for that purpose, which uses `world_size`.

Same for `process_id` - why reinvent the naming and needing to e

[2021-05-03 13:08] NielsRogge opened #111 "Add COCO evaluation metrics"

[2021-05-12 21:42] ncoop57 opened #112 "How to Add New Metrics Guide"
**Is your feature request related to a problem? Please describe.**
Currently there is an absolutely fantastic guide for how to contribute a new dataset to the library. However, there isn't one for adding new metrics.

**Describe the solution you'd like**
I'd like for a guide in a similar style to the dataset guide for adding metrics. I believe many of the content in the dataset guide such as setup

[2021-05-15 08:39] hyusterr opened #113 "Trying to use metric.compute but get OSError"
I want to use metric.compute from load_metric('accuracy') to get training accuracy, but receive OSError. I am wondering what is the mechanism behind the metric calculation, why would it report an OSError?

[code]

the error message is as below:

[code]

## Environment info

- `datasets` version: 1.6.1
- Platform: Linux NAME="Ubuntu" VERSION="20.04.1 LTS (Focal Fossa)"
- Python version: python3.8.5

[2021-07-13 12:22] zuujhyt opened #114 "Add the CIDEr metric?"
Hi,
I find the api in https://huggingface.co/metrics  quite useful.
I am playing around with video/image captioning task, where CIDEr is a popular metric.
Do you plan to add this into the HF ```datasets``` library?
Thanks.

[2021-08-04 15:33] jianguda opened #115 "the meteor metric seems not consist with the official version"
## Describe the bug
The computed meteor score seems strange because the value is very different from the scores computed by other tools. For example, I use the meteor score computed by [NLGeval](https://github.com/Maluuba/nlg-eval) as the reference (which reuses the official jar file for the computation)

## Steps to reproduce the bug
[code]
By the way, you need to install the `nlg-eval` library f

[2021-09-01 22:18] ZhaofengWu opened #116 "Only retain relevant statistics in certain metrics"
**Is your feature request related to a problem? Please describe.**
As I understand, in the `add_batch()` function, the raw predictions and references are kept (in memory?) until `compute()` is called.
https://github.com/huggingface/datasets/blob/e248247518140d5b0527ce2843a1a327e2902059/src/datasets/metric.py#L423-L442

This takes O(n) memory. However, for many (most?) metrics, this is not necessar

[2021-10-22 12:22] albertvillanova opened #117 "Add DER metric"

[2021-10-24 18:08] avinashsai opened #118 "Rouge and Meteor for multiple references"
Hi,

Currently rogue and meteor supports only single references. Can we use these metrics to calculate for multiple references?

[2022-03-28 14:48] sashavor opened #119 "Calling existing metrics from other metrics"
There are several cases of metrics calling other metrics, e.g. [Wiki Split](https://huggingface.co/metrics/wiki_split) which calls [BLEU](https://huggingface.co/metrics/bleu) and [SARI](https://huggingface.co/metrics/sari). These are all currently re-implemented each time (often with external code).

A potentially more efficient and centralized way of doing things would maybe to have a single impl

[2022-03-28 15:24] sashavor opened #120 "Standardize metric ranges"

[2022-04-06 12:31] lvwerra opened #4 "Feature: add community metrics"
We would like a way for community members to easily add custom or new metrics. These custom metrics could be hosted on the hub either in a dedicated repository type (like datasets or models) or on Spaces.

Spaces comes with a few advantages, especially in short term:
1. No dedicated repo type needed
2. Infrastructure already exists
3. We can easily setup a demo without needing a custom widget (e.g

[2022-04-06 12:49] lvwerra opened #5 "Feature: enrich `MetricsInfo` with more meta information"
Add more meta information to the `MetricsInfo`. The existing fields are listed here: https://github.com/huggingface/evaluate/blob/f88449588d89365b646754110c9034736e8ae830/src/evaluate/metric.py#L76-L135

Things that could be useful to add:

- [ ] `requirements`: we could warn and instruct on what is required if not already installed.
- [ ] `test_cases`: a list of input-output pairs to test whether

[2022-04-06 13:00] lvwerra opened #6 "Feature: `push_to_hub` function for metrics."
Add a function to easily push the result of a metric to the hub similar to the `Trainer` in `transformers`.

Use-case: a user evaluates a model on a dataset. If this happens with a `transformer` model and they use the `Trainer` they can easily do that during training. However, if they are either not using a `transformer` model, the `Trainer` or want to do it after training they have to do it manua

[2022-04-06 13:10] lvwerra opened #7 "Feature: save metrics results locally"
Create a way to store the result of a metric locally. Especially useful when running many experiments. Besides the score of the evaluation it is important to be able to store as much additional information as possible:

[code]
Besides the information provided by the users (essentially key, value pairs) we could also save some additional information:
- Time of experiment
- path to script that creat

[2022-04-06 13:24] lvwerra opened #8 "Feature: compose multiple metrics into single object"
Often models are evaluated on multiple metrics in a project. E.g. a classification project might always want to report the Accuracy, Precision, Recall, and F1 score. In `scikit-learn` one use the classification report for that which is widely used. This takes this a step further and allows the user to freely compose metrics. Similar to a `DatasetDict` one could use the `MetricSuite` like a `Metric

[2022-04-06 13:46] lvwerra opened #9 "Feature: type hints for metric inputs"
We could add type hints to the metric inputs that go beyond the standard Python type hints. This could help knowing what the input format is (e.g. logits vs. normalized scores) and improve debugging (e.g. we could run some tests on inputs per depending on type -> `ValueError(f"Oops, looks like you passed unnormalized scores to {metric.name} but it expect values between 0 and 1. Try applying a Soft

[2022-04-06 14:37] lvwerra opened #10 "Feature: standardize inputs/outputs of metrics"
Currently there are several different inputs/output formats possible in `Metrics`. We should standardize them as much as possible and respecting the following principle:

- inputs/outputs are easy to understand and use
- outputs are compatible with other frameworks

For the output standardization: probably a dictionary structure, even if nested would be ok. Also a dedicated output class could be c

[2022-04-06 15:27] lvwerra opened #11 "Feature: integration standard libraries"
Create a uniform integration for metrics libraries such as `scikit-learn`, `keras.metrics` or `torchmetrics` instead of integrating them metrics from these frameworks one-by-one. The goal of the integration is to be able to load the metrics from these frameworks with a syntax as follows:

[code]

This way there is also more transparency where the metrics come from especially if they are just a wra

[2022-04-07 14:49] lhoestq commented on #5
I would put the requirements in an actual `requirements.txt` file next to the metric script. Same for test_cases, you can have a dedicated test python file I think (we'll have to see what we add in there, compared to the doctests we already have though).

`task_ids` can be in the YAML part of the readme, so that moon-landing can parse it and index it on the website.

`score_range` and `score_order

[2022-04-07 15:26] lhoestq commented on #9
I agree this is the kind of documentation that is useful for users. Having good docstrings is already nice as documentation to clarify if inputs need to be normalized or in one-hot format. Having something like this would be mostly useful for sanity checks I think.

IIRC type hints in python are not supposed to do anything during runtime (even dataclasses don't do sanity checks). And it looks like

[2022-04-07 16:29] sashavor commented on #5
also, can we add `linked_dataset` to reflect cases when a metric is limited to a specific dataset?

[2022-04-08 19:20] lhoestq commented on #8
From our discussion, here are some API ideas:

I. For metrics with the same inputs

[code]

PS: it fails if you mix metrics with incompatible inputs like "accuracy" and "bleu". We would need a function for users to redefine their inputs if we want to have this in the end:
[code]

II. If input names don't match, it's ok

[code]

PS 2: would it be nice to rename the input of perplexity to be one of

[2022-04-08 20:42] sashavor commented on #10
As per our meeting today, we proposed to have standardized structure for inputs, in dictionary form.

An initial proposal of that structure can be:

     {
        "references": " " ,
        "predictions": " ",
     }

**Edge cases:**
- [COMET](https://github.com/huggingface/datasets/tree/master/metrics/comet), [WikiSplit](https://github.com/huggingface/datasets/tree/master/metrics/wiki_split) an

[2022-04-11 09:59] lhoestq commented on #10
Just to distinguish the two cases: `sources` is part of the input data to the metric (one source per sample), and `average` is a mandatory parameter of the metric in the multilabel setting.

I think it's fine if we allow certain metrics to have extra inputs like `sources` - but it must be possible to know that in advance, maybe we can provide a property to the `Metric` object that lists the expect

[2022-04-11 13:40] sashavor commented on #10
Sorry, indeed, I should have distinguished inputs and parameters :)

On Mon, Apr 11, 2022 at 6:00 AM Quentin Lhoest ***@***.***>
wrote:

--
Sasha Luccioni, PhD
Postdoctoral Researcher (Mila, Université de Montréal)
Chercheure postdoctorale (Mila, Université de Montréal)
https://www.sashaluccioni.com/
                [image: Image result for universite de montreal logo]

[2022-04-12 12:04] lvwerra commented on #10
Also regarding perplexity:
The currently implemented version aims at being a data measurement tool if I understand correctly - you provide text and model. Although one could evaluate a model in that setting it would be less efficient as it requires an additional forward pass. So we could move this version of perplexity to a new folder (e.g. `measurements`) and load it with `load_measurement("perpl

[2022-04-12 12:21] lvwerra commented on #8
For PS comment on I) we could also do this if we have some more specific `Features` in `MetricsInfo`, right? Then we could have:

[code]

Then we could dispatch the inputs based on feature type to each metric - but maybe that's too implicit? Also wouldn't work if two metrics have the same type but still different format.

[2022-04-12 12:36] sashavor commented on #10
Sure, that could work! I mean, having two separate versions of the code
seems a bit redundant, but I agree that the way it's implemented now makes
it stand out from the other metrics :)

On Tue, Apr 12, 2022 at 8:05 AM Leandro von Werra ***@***.***>
wrote:

--
Sasha Luccioni, PhD
Postdoctoral Researcher (Mila, Université de Montréal)
Chercheure postdoctorale (Mila, Université de Montréal)
https://

[2022-04-12 12:58] lvwerra commented on #10
## Postprocessing
IIRC we discussed for the postprocessing step that a more flexible alternative is to add a method to the class such that we could do:
[code]

Is that what you had in mind @lhoestq?

## Input format
@sashavor did you see many metrics that violated the proposed format? I think most of them are in that format since it used to be enforced? Then the next thing is to go one level deepe

[2022-04-12 16:29] lhoestq commented on #10
Yup, we can even name the method `.postprocess(...)` ^^

We not keep lists of strings or floats directly. Or use dictionaries if we feel like having explicit named fields like `texts`, `tokenized_texts`, `labels` could help - but maybe it would make it less convenient to use

[2022-04-12 18:20] sashavor commented on #10
As per @yjernite 's proposal, maybe it makes sense to have two categories of metrics: the ones with references and the ones without references (like perplexity and stuff like n-gram diversity).
Do you think that makes sense, @lvwerra and @lhoestq ?

[2022-04-13 13:00] sashavor commented on #10
Sure, that could work! I think @yjernite preferred the term "referenceless metrics" because they actually measure model performance, but if we implement them with `references = None` by default, that would work!

[2022-04-13 13:20] lhoestq commented on #10
I like referenceless metrics / metrics for unsupervised learning.

In terms of implementation if possible I would remove any mention of "references" to not make things confusing

[2022-04-13 13:34] sashavor commented on #10
So you would have a different structure for the referenceless metrics?

[2022-04-13 19:21] sashavor opened #15 "Defining and standardizing metric input structures"
### Documenting the types of inputs and data structures used for each metric

[accuracy](https://github.com/huggingface/evaluate/tree/main/metrics/accuracy)
[code]
or if `"multilabel"` mode:
[code]

[bertscore](https://github.com/huggingface/evaluate/tree/main/metrics/bertscore)
[code]

[bleu](https://github.com/huggingface/evaluate/tree/main/metrics/bleu)
[code]

[bleurt](https://github.com/huggi

[2022-04-13 19:31] sashavor commented on #15
### Proposing categories of metrics

(WIP)

[2022-04-13 21:03] yjernite commented on #10
A little late to the conversation, but for additional context:

"reference-less" metrics are particularly relevant for NLG evaluation, and probably going to become more common in the near future. Perplexity is one case, n-gram diversity another, and approaches like BOLD try to measure model biases without a reference. They are used to measure model performance, so should really live with the other

[2022-04-13 21:08] yjernite commented on #10
From a design perspective, I guess one option would be to have the model prediction as required input, and a flexible "extra information" other field that may or may not include references, and could also have the source for text simplification metrics or the supporting paragraph for metrics like QuestEval (measures whether an answer provided by a QA system is supported by the paragraph)

wdyt?

[2022-04-14 09:39] lvwerra commented on #15
Thanks a lot @sashavor to work on this! Regarding the metrics that take a tokenized list of strings maybe the following would be a viable step to allow for more standardisation:

- either pass the list of tokenized strings
- or pass the list of stings along with a tokenization function

That way we could better combine e.g. `GLEU` and `bertscore` as they would take the same predictions and referen

[2022-04-14 11:47] lhoestq commented on #8
I haven't seen any other library or project approach mix of metrics using an API like this, I feel like it would be hard to have an intuition that it must be used this way. Therefore I would be in favor of having something more explicit.

Anyway it's ok to not focus on this case right now, I don't think it would have much usage and users can still handle two separate metrics separately

[2022-04-14 13:27] sashavor commented on #11
We could also connect to [`GEM`](https://github.com/GEM-benchmark/GEM-metrics) as per @yjernite 's [proposal](https://github.com/huggingface/evaluate/issues/10#issuecomment-1098485145) in another thread.

[2022-04-19 17:05] sashavor opened #16 "Statistical significance testing"
As mentioned in a recent [paper](https://aclanthology.org/2021.acl-long.566.pdf) about evaluating MT approaches (and probably other sources too), statistical significance testing can be used to confirm that one method is superior to another, saying that 'it remains one of the most cost-effective tools to check how trustworthy a particular difference between two metric scores is."

We could possibl

[2022-04-19 17:07] sashavor opened #17 "Add missing metrics"
As per @douwekiela's suggestion, we should find the blind spots that we have in terms of missing metrics, especially from domains like speech recognition and computer vision.

Suggestions are welcome below!

[2022-04-19 17:09] sashavor commented on #11
And to skimage: https://scikit-image.org/docs/dev/api/skimage.metrics.html

[2022-04-19 18:27] sashavor opened #18 "Connect `evaluate` with the Data Measurements Tool"
Given that many of the information from the [Data Measurements Tool](https://huggingface.co/spaces/huggingface/data-measurements-tool) are relevant to the `evaluate` library, it would be useful to connect the two.
For instance, having a `measurements` folder in the `evaluate` repo that would allow users to call, e.g.
[code]
and get the nPMI values for those terms and the GLUE dataset.

The input/o

[2022-04-19 20:46] sashavor commented on #17
We should probably look into GAN metrics as well, like Kernel Inception Distance (KID), Inception Score (IS) and Fréchet Inception Distance (FID)

[2022-04-19 20:47] sashavor commented on #17
How about RL metrics? e.g. https://analyticsindiamag.com/metrics-for-reinforcement-learning/

[2022-04-19 20:53] sashavor commented on #17
Computer vision metrics:
[SSIM[(https://en.wikipedia.org/wiki/Structural_similarity)
[PSNR](https://en.wikipedia.org/wiki/Peak_signal-to-noise_ratio)

There are various [object detection metrics](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/evaluation_protocols.md) implemented by Tensorflow

[2022-04-19 20:55] sashavor commented on #11
And to [Torch Fidelity](https://github.com/toshas/torch-fidelity) -- for generative metrics

[2022-04-21 13:54] sashavor commented on #15
That can work! But currently there are metrics that take lists of tokenized sentences (or do `string.split()` somewhere in the code.

[2022-04-21 15:21] lvwerra commented on #18
Sounds good to me. In terms of API would it makes to follow the metrics and dataset here, too? E.g. something like this:

[code]

What do you think?

[2022-04-22 13:55] sashavor commented on #18
That sounds great!!! :smile:

[2022-04-22 14:44] sashavor commented on #15
Ok, so for all the text-based metrics, I propose we have 1 mandatory inputs (`prediction`) and 2 optional ones (`references` and `sources`).

- All 3 would be *lists of strings* (either a single string or multiple).
- Tokenization would be handled within the metric implementation.
- For those metrics that are implemented elsewhere (e.g. `bleu`), we will add a transform within the `compute()` funct

[2022-04-25 08:23] lvwerra commented on #17
Also listed a few libraries in #11 e.g. NetworkX for graph metrics.

[2022-04-26 04:15] douwekiela commented on #15
A few questions:
* About "sources", stupid question but what are those?
* What about non-text-based metrics?
* About tokenization: it could be that a specific metric has a specific tokenization scheme, or that if we allow the user to do the tokenization then different scores come out depending on how they tokenize? I guess we can solve this by allowing users to specify a tokenizer, and defining a

[2022-04-26 08:58] lvwerra commented on #15
Hi @douwekiela

As far as I know these are the source texts in translation tasks.

There are already a few non-text-based metrics (e.g. the classification metrics `accuracy`, `recall` etc.). We aim to standardize the metrics that we currently have and then in a next step add new metrics and come up with standards as we go.

Yep, discussed this yesterday with @sashavor and that's the way we will pr

[2022-04-26 13:48] thomwolf commented on #11
I would rather reimplement these metrics than depend on other libs. My heuristic:
- if the metric is something stable we don't expect to change (Jaccard score): I would reimplement. Note that if the license of the other lib is permissive (apache 2 ou MIT) you can copy with copyright citation and it's fine
- if the metric is expected to change, e.g. BertScore or other metrics that either very recen

[2022-04-26 15:16] lvwerra commented on #11
So this would be quite a deviation from the current status of metrics: most of them are wrappers around existing libraies. Just to name a few:
- "accuracy", "recall", "f1" are all wrappers around `scikit-learn`
- "meteor" uses `nltk`
- "seqeval" is a wrapper for `seqeval`
- "spearmanr" comes from `scipy`

Would you reimplement all of them? As an example, there are O(100) metrics in scikit-learn an

[2022-04-26 15:20] lvwerra commented on #15
@lhoestq we've been discussing standardazing the text based metrics a bit. Some of them currently take a text as reference and others a list of texts. The idea for standardization was to always use a list (even if it only has one element) for all text metrics such as `bleu`, `rouge` etc. What do you think?

[2022-04-27 12:12] lhoestq commented on #15
How would you handle several references in rouge ? AFAIK the `rouge_score` tool only takes one reference.

[2022-04-27 12:13] sashavor commented on #15
`predictions` would be a list, and `references` would be a list of lists, does that make sense?

[2022-04-27 14:46] lhoestq commented on #15
In the following I try to explain why I think it can be nice to have a difference between BLEU and ROUGE inputs. I try to keep in mind that what matters is:
- it should be easy to use metrics together when they are compatible
- the dev experience should be easy, and in particular users expect to be able to know in advance what will happen when they call a function

When evaluating text generation

[2022-04-27 20:01] lvwerra commented on #15
Thanks @lhoestq, that makes a lot of sense, I hadn't taken into account the case where a dataset has multiple references and ROUGE would unexpectedly fail.

A comment on your code example to test for compatibility: I guess we would need a bit more logic as we would need to check if all required inputs are present in `allowed_inputs_in_common`. E.g. if we did that on the two metrics how they are no

[2022-04-27 21:51] douwekiela commented on #7
I like this idea! I did have some questions, @lvwerra:
1. `.compute()` tends to return a dict but not store it. Shall rewrite the existing metrics to store the outcome in `self.result` or something and return that, so that we know what object to `.save()`?
2. What exact format did you have in mind for storing results? Let's say I call `metric.save` with identical experiment_name, dataset_name and

[2022-04-29 05:33] lvwerra commented on #7
Regarding 1: At the moment the `compute` clears the state if I remember correctly. Since the user can directly start to add new predictions/references of the next experiment having a result in the state might be a bit awkward: when would be the best moment to clear the result from the state?

Alternatively, we could have a `result_dir=None` argument in `compute` that defines where the results are

[2022-04-29 05:48] douwekiela commented on #7
1: Hrm, yeah perhaps it's better to just pass a `save_path` to `compute` and if it's there, that's where we store the data?

2: Gotcha. My problem with JSONL would be that those are easy to corrupt eg in race condition scenarios? Might be easier to push to some pipe/queue-style format (a la tensorboard writer), but I'm not sure?

+1 to hearing what @lhoestq thinks!

[2022-05-02 08:17] lvwerra commented on #7
Yes, that's what I had in mind.

Alternatively, we could make a file per experiment instead of a single file. Just trying to of a solution that would require minimal effort and do the job.

[2022-05-02 12:09] lvwerra opened #21 "Docs: Add README"
Setup README for repository.

[2022-05-02 12:11] lvwerra opened #22 "Docs: add documentation page"
Before the release we need to setup the documentation for the library:

- [ ] update documentation
- [ ] add examples
- [ ] deploy docs page

[2022-05-02 13:04] lvwerra opened #23 "Add `Evaluator` class to easily evaluate a combination of (model, dataset, metric)"
Similar to the `Trainer` class in `transformers` it would be nice to easily evaluate a model on a dataset given a metric. We could use the `Trainer` but it comes with a lot of unused extra stuff and is `transformers` centric. Alternatively we could build an `Evaluator` as follows:

[code]

The `dataset_mapping` maps the `dataset` columns to inputs for the model and metric. Using the `pipeline` API

[2022-05-02 13:12] lvwerra opened #24 "Setup script action to push "canonical" metrics to hub"
The goal is to have all in the library available metrics hosted on the hub as a space. This includes the metrics that are currently inside the `evaluate` remove in `metrics/`. To get them to the hub we should setup a script and action that pushes them to a space. We can probably reuse a lot of functionality from #14 to make this work.

A natural mechanism would be to run this whenever a PR is merg

[2022-05-02 13:15] lvwerra opened #25 "Load metrics from Hub instead of GitHub repo"
In order for the metrics on spaces (added here #14) to be loaded we need to changed the loading mechanism to point to the hub instead of `evalutes`'s repository. This should not take much more effort than changing the URL from GitHub to the Hub.

cc @lhoestq

[2022-05-02 20:12] sashavor commented on #15
Bouncing off of @lhoestq 's comment above, could we have a generic `input_checker()` function that compares the structure of the inputs to metrics and those defined in their `Features`?
That way we can establish whether a metric can be used at all (e.g. if it needs `int`s and the user provides `str`s, it's not possible).
And maybe doing this *before* calling `compute()` can be more efficient since

[2022-05-02 20:46] sashavor commented on #10
We didn't talk about standardizing outputs much until now -- all metrics  currently output `dict`s, except `cer` and `wer` (which output a `float`), and `mauve` (outputs a `types.SimpleNamespace`, whatever that is).
@lhoestq , you mentioned that it's better to output floats instead of dicts, for compability with some kind of framework?

[2022-05-03 03:43] douwekiela commented on #15
One thing to do would be to add something like

`self._check(inputs)`

somewhere around here: https://github.com/huggingface/evaluate/blob/main/src/evaluate/metric.py#L418? And then let every metric `_check` for itself whether the inputs are in the correct format?

[2022-05-03 03:49] douwekiela commented on #7
Maybe we should just allow the user to save their results in their desired format then? I'm not sure if this is something we should do on our end (wandb, tensorboard, etc are much better for experiment logging than we can be with a simple save)

[2022-05-03 17:34] lhoestq commented on #10
Keras takes a list of "keras metrics" (i.e. callables with input tensors `y_true, y_pred` and one float as output) for evaluation. But it seems that using something else that Keras internals to compute the metrics is not recommended: https://github.com/keras-team/keras/issues/9640

Alternatively one can use "keras callbacks". There is a nice example that shows how to use callbacks to use scikit-le

[2022-05-04 10:54] lhoestq commented on #15
`compute()` already does basic type checking before calling the underlying `_compute()` that may load a model ;)

It's done here:

https://github.com/huggingface/evaluate/blob/df3d20712df202b586f73cf45a66b65652e45d5b/src/evaluate/metric.py#L420

which calls the ArrowWriter that does type checking:

https://github.com/huggingface/evaluate/blob/df3d20712df202b586f73cf45a66b65652e45d5b/src/evaluate/m

[2022-05-04 13:41] lvwerra commented on #23
If I understand correctly 1 & 3 could be implemented essentially the same way: run the same evaluation several times with different seeds and do some aggregation at the end. For 3) one would just need to make sure dropout is activated, right?

Maybe we can talk to the optimization team that did some experiments on 2 on different hardware/setups. Maybe @lewtun knows something about it?

[2022-05-04 13:53] lewtun commented on #23
This is WIP as part of https://github.com/huggingface/optimum/issues/128 but we don't have anything concrete available yet. Usually what we do is fix the hardware to a specific instance (e.g. a specific Intel CPU VM on AWS) and then compute latencies at various percentiles like p50, p90 and p95

[2022-05-05 14:03] lvwerra commented on #15
@lhoestq indeed the data is cast there, however, when deactivating it is still cast later on by `pyarrow.array` (see [docs](https://arrow.apache.org/docs/python/generated/pyarrow.array.html)). The main issue is string types as everything can be cast to a string.

Ideally we would have a mechanism that checks all types but this could be quite extensive. So maybe to start we could just check if some

[2022-05-11 07:28] lvwerra commented on #7
I think there is no standard for saving results locally which is why this is usually a bit messy. In cases where a user just evaluates they might also not be using wandb or tensorboard.

I think we could also just add a helper function with a few quality of life features as mentioned in first comment:

[code]
If the user wants to save it in their own format that is also fine but that way there is

[2022-05-11 08:18] lvwerra commented on #25
Closed with #30.

[2022-05-11 08:18] #25 closed

[2022-05-11 08:28] lvwerra commented on #4
Closed with #25 and #14.

[2022-05-11 08:28] #4 closed

[2022-05-11 08:31] #9 closed

[2022-05-11 13:53] lvwerra opened #38 "Refactor for loading multiple evaluation categories"
In addition to `Metric` we also want to add other types of evaluations such as `Comparison` (#34) and `Measurement` (#35) following the internal discussion (https://huggingface.slack.com/archives/C035S5G2J3D/p1652200198598789). Technically, these all behave the same way as they take some inputs and compute a scores. As such they could largely be one class (essentially what `Metric` is today). That

[2022-05-11 14:42] #21 closed

[2022-05-11 15:31] douwekiela commented on #38
That sounds good to me!

[2022-05-12 06:54] lvwerra commented on #23
Here is a draft of what an `Evaluator` could look like:

[code]

Then you could evaluate a (model, dataset, metric) combo with:

[code]

There is maybe a better way to deal with the input/output between pipeline, dataset, and metric. What do you think @douwekiela?

[2022-05-12 12:44] lhoestq commented on #38
I like the idea ! thanks :)

Your points regarding conflicts sound good to me as well !

[2022-05-14 23:45] douwekiela commented on #23
Yeah this makes a ton of sense to me! My only qualm would be that it'd be even more elegant if I wouldn't have to rename the columns and pass the label_map (can these not be set in dataset metadata?).

[2022-05-15 20:23] lewtun commented on #23
We do have a column mapping field called `col_mapping` in the dataset metadata that is currently used for AutoTrain - I think this could be reused here and would only require the `Evaluator` to follow that convention (basically inputs are mapped to `text` and labels are mapped to `target`).

Regarding `label_map`, this is tricky because the model owner can choose arbitrary names for the model's cl

[2022-05-16 08:22] lvwerra commented on #23
That would mean that we need to load the datasets metadata from the hub as that information is not in the `Dataset` object itself, right? That means downloading the `README.md` from the Hub and then use `huggingface_hub.load_metadata`. We could pass just the dataset name to `Evaluator` and do the loading and parsing under the hood but that would not work so well for custom datasets.

Alternatively

[2022-05-16 10:11] lewtun commented on #23
Good point about custom datasets and I like your idea about explicitly showing the expected inputs / outputs in the `repr`!

For Hub datasets, you don't have to download any files as you can ping the `datasets` API directly, e.g.

[code]

The only "problem" is that we've defined our column mappings to align with AutoTrain, and that taxonomy might not be as convenient / flexible for what you're try

[2022-05-16 19:17] julien-c commented on #23
or just `huggingface_hub.dataset_info(dataset_name)`

[2022-05-16 20:14] lewtun commented on #23
I did not know this trick either 🤯 !

[2022-05-17 13:46] lvwerra opened #43 "`BLEURT` has no `README.md`"
Currently `BLEURT` is the only metric without a `README.md`. We should add one, not super urgent, though.

cc @sashavor

[2022-05-17 13:49] lvwerra commented on #5
We now have requirements as well as test cases in the template #14 and can add datasets in the yaml of the `README.md`. Score ranges are also described in the `README.md` template. Closing this for now.

[2022-05-17 13:49] #5 closed, assigned to nobody

[2022-05-18 11:58] lvwerra commented on #43
Closed with #45.

[2022-05-18 11:58] #43 closed

[2022-05-19 06:32] prabhakar267 opened #51 "Issue with Perplexity metric"
## Describe the bug
For most of the model keys that are listed for perplexity score, the keys are not present.
https://huggingface.co/docs/transformers/main/en/model_doc/auto#transformers.AutoModelForCausalLM

For using keys like `bert-base-multilingual-cased` or `xlm-roberta-large`, I get the following error

## Steps to reproduce the bug
[code]

## Expected results
The model should have been abl

[2022-05-19 07:59] lvwerra commented on #10
I have been thinking about the scalar vs. dict question. Having a dict across all metrics at least internally is nice as it allows to treat them all the same way and we can also combine metrics by merging dicts. At the same time we could check if the return is just a dict with one value and if that's the case just return its. value.

[code]

What do you think @lhoestq?

Regarding Keras, I'll think

[2022-05-19 12:23] sashavor commented on #10
I think the issue was combining metrics too, no?
I.e. if I run a bunch of metrics and I want to transmit the results somewhere, it's easier to already have them in a dict.
Why not make the `force_dict` version the default one and then make a `keras` flag (or a `scalar`) flag as an alternative?

[2022-05-19 15:53] lvwerra commented on #10
I think @lhoestq point was that for many metrics the user might just want a single value but always needs to access the dict `load_metric("accuracy").compute()["accuracy"]`

When we combine metrics we can also check if the return type is a dictionar or scalar and make sure we combine them correctly.

[2022-05-19 16:02] sashavor commented on #10
Ok, that works too!

[2022-05-19 16:58] sashavor opened #55 "Initial proposal for documentation Table of Contents"
**Initial proposal for documentation Table of Contents:**

- Getting started
- How-to guides
         - Evaluate in a nutshell
         - Choosing a metric for your task
- Conceptual guides
        - All about metrics
        - Considerations for ML model evaluation
        - Metrics vs Measurements vs Comparisons
- Reference
       - Main classes
       - Builder classes
       - Loading methods

[2022-05-20 09:07] #24 closed

[2022-05-20 12:06] fxmarty commented on #23
Hello, I would be a user of a similar feature in https://github.com/huggingface/autoquantize (API to launch evaluation of Optimum quantized models vs. transformers baseline). For the moment I wrote my own evaluation scripts using pipelines.

Just wanted to point out that using pipelines for evaluation is not out-of-the-box, see for example https://github.com/huggingface/transformers/issues/17305 a

[2022-05-20 12:55] lvwerra commented on #55
Awesome, thanks for setting this up @sashavor. Here a a few suggested changes

Getting started
- Tutorials (easy intro for people who just want to use it)
  - Installation
  - A quick tour of evaluate
- How-to-guides (a little bit more in depth guides)
  - Choosing a metric for your task
  - Creating  and sharing a new evaluation
- Conceptual guides
  - Types of evaluation (-> Metrics vs Measureme

[2022-05-23 07:54] #7 closed

[2022-05-24 07:11] prabhakar267 opened #60 "Fresh pip installation gives error"
I installed the library with pip and I get the following error.

[code]

## Environment info
- `evaluate` version: 0.0.3
- Platform: Linux-5.4.0-1066-aws-x86_64-with-glibc2.10
- Python version: 3.8.12
- PyArrow version: 7.0.0
- Pandas version: 1.3.4

[2022-05-25 08:19] lvwerra commented on #60
Hi @prabhakar267, `evaluate` is not officially released, yet so there is also no pip package. Should be shipped in the coming weeks :)

[2022-05-25 08:19] #60 closed

[2022-05-26 13:29] #15 closed

[2022-05-26 16:30] lvwerra commented on #18
Closing this since we have `measurement` as a type with #40.

[2022-05-26 16:30] #18 closed

[2022-05-27 15:09] #22 closed, assigned to sashavor

[2022-05-27 15:18] #55 closed, assigned to lvwerra, sashavor

[2022-05-30 09:03] douwekiela opened #81 "Handle zero divs in consistent way"
Sklearn has a consistent way of dealing with division-by-zero (either ignore, error out or warn), which we pass on in wrappers (see [example](https://github.com/huggingface/evaluate/blob/main/metrics/precision/precision.py#L143)).

In our own canonical evaluation modules, we also have potential ZeroDivs that we currently do not handle, e.g.: https://github.com/huggingface/evaluate/blob/main/compar

[2022-05-30 16:30] lhoestq commented on #10
I think I would expect this code to run:
[code]
without having to specify `force_dict` no ?

Maybe `combine_metrics` can accept single-output metrics as well as multi-output metrics. For single value metric it would take the metric name as a key, and for multi-output metrics it would take the output keys as is.

Another option would be to always take the metric name as key.

For example for `accur

[2022-05-30 20:21] #23 closed

[2022-05-31 09:30] #6 closed

[2022-05-31 15:22] Muhtasham opened #93 "Add support for IR mertics"
Mertics like ndcg, dcg

[2022-05-31 15:26] lvwerra commented on #93
Hi @Muhtasham, we do have some IR metrics in `evaluate`:
[code]
You can have a look here: https://huggingface.co/spaces/evaluate-metric/trec_eval

It returns a wide range of IR metrics.

[2022-05-31 15:28] #93 closed

[2022-05-31 15:32] pzelasko opened #94 "TIMIT typically reports PER, not WER"
The docs here mention that TIMIT reports WER, but this dataset typically serves as a benchmark for phone error rate (PER), because it’s one of the few resources that have manually annotated phone segments. I recommend to clarify that in the README:

https://github.com/huggingface/evaluate/blob/c1141b02941dc508ca4560b9dfe5b7a90f4cf785/metrics/wer/README.md?plain=1#L68

I think it would be good to h

[2022-06-01 05:42] koaning opened #95 "Link to step-by-step guide is broken."
It's about this link in the README.

<img width="946" alt="image" src="https://user-images.githubusercontent.com/1019791/171335566-3b669788-00e9-4770-ad1e-3da0453f7b4c.png">

When I click it I see a page with the following text:

[code]

When I click _that_ link I get

<img width="429" alt="image" src="https://user-images.githubusercontent.com/1019791/171335631-d20da003-cb50-4dbd-9207-e088ecb1a946

[2022-06-01 06:17] Jordy-VL opened #96 "Feature: calibration error estimators"
While implementations of standard metrics are scattered, this is certainly the case for L^p calibration error estimators.

Why is it important to measure model calibration?
When fine-tuning a model with cross-entropy loss (or any other strictly proper loss optimizing both accuracy and calibration) there is no guarantee that your model will turn out well-calibrated. Empirically, large NNs were show

[2022-06-01 08:17] amrrs opened #97 "Broken Link - Step-by-Step Guide"
The step-by-step guide link given in the readme is broken

https://huggingface.co/docs/evaluate/creating_and_sharing.html

[2022-06-01 08:37] Tiiiger opened #99 "Loading BERTScore"
Hi,

I was testing loading bertscore with `evaluate` and saw this following error.

[code]

Looks a bit mystic to me. Perhaps you have some insights :)

Thank you!

[2022-06-01 08:42] lvwerra commented on #99
Indeed, it is just a warning - it's a bug we hoped to fix with the release. I'll report once it is fixed.

[2022-06-02 08:00] lvwerra commented on #96
Hi @Jordy-VL that sounds like an interesting addition! Let me know if you need any help with setting up a custom metric. It will be indeed simpler to discuss on a PR.

[2022-06-02 09:57] philschmid opened #104 "Bug: `SCIPY_AVAILABLE` not correct"
When trying to use `evaluator` i ll get an error saying

_If you want to use the `Evaluator` you need `scipy>=1.7.1`. Run `pip install evaluate[evaluator]`_

But i have `scipy` installed with `v1.8.1`, see screenshot
<img width="1094" alt="Bildschirmfoto 2022-06-02 um 11 55 00" src="https://user-images.githubusercontent.com/32632186/171605485-569045bd-36ad-4f8c-ad7d-534c8f818f19.png">
.

[2022-06-02 09:59] philschmid commented on #104
Okay needed to re-install & re-start the kernel. still strange

[2022-06-02 09:59] #104 closed

[2022-06-03 07:16] lvwerra commented on #107
This was addressed in #20 and #49.

[2022-06-03 07:16] #107 closed

[2022-06-06 13:28] lewtun opened #125 "Add runtime metrics to `Evaluator`"
Currently, the `Evaluator` class for `text-classification` computes the model metrics on a given dataset. In addition to model metrics, it would be nice if the `Evaluator` could also report runtime metrics like `eval_runtime` (latency) and `eval_samples_per_second` (throughput).

cc @philschmid

[2022-06-06 14:01] lewtun opened #126 "Cache results from `Evaluator`"
When running an evaluation with the `Evaluator` class, it would be great to cache the results (e.g. store them as an Arrow dataset) so that one doesn't have to wait to recompute everything each time.

This would also give `evaluate` a similar developer experience to `datasets` and allow users to leverage the intuitions from one lib to the other :)

[2022-06-06 17:52] TristanThrush commented on #51
Hi there @prabhakar267, sorry for the delay. I've been traveling for over 2 weeks. It seems that the updated version of datasets and evaluate does not have this issue. I think it was fixed here: https://github.com/huggingface/datasets/commit/e90a7d41826967017c30d63cd46013a9272d3f77

Are you able to update your version? Let me know if there are any other issues.

[2022-06-06 20:07] PierreColombo opened #127 "Adding 3 metrics"
Hello !
Could you add these 3 metrics:
- BaryScore (oral EMNL 2021)

- DepthScore

- InfoLM (best student paper award AAAI 2022)

They are available here:  https://github.com/PierreColombo/nlg_eval_via_simi_measures on a unified format !

Cheers,

[2022-06-06 21:07] douwekiela commented on #125
I like that use case! Even if the numbers are not directly comparable across systems, I do think people would appreciate the convenience (eg if I want to benchmark two models on the same system).

[2022-06-07 07:22] philschmid commented on #125
For Latency and throughput, we should rather use a dummy input for different sequence lengths instead of selecting a few samples from the dataset.
You normally always have latency & throughput for, e.g. sequence length 128.

[2022-06-07 09:07] ola13 commented on #125
I think that's a great idea! True - it is backend dependent, but it will be very useful for debugging.

I wonder if it would be useful to optionally output not only the metric values but some sort of an evaluation report - basic setup information along with the runtime metrics, e.g. what device it was evaluated on etc.

I think it would be valuable to have these numbers for full evaluation, not on

[2022-06-07 15:33] lewtun commented on #126
Sure! You can check out the `_map_single()` method for `Dataset` objects: https://github.com/huggingface/datasets/blob/747f0c8612d4929dbdd1c72cca201815911ce660/src/datasets/arrow_dataset.py#L2561

Basically, it checks if the `Dataset` object has a `cache_files` object, and then returns a `Dataset` from file instead of re-computing the map function

[2022-06-08 09:34] ola13 commented on #125
I'm happy to look into this within the next 2 week, if someone feels like taking a stab at it feel free to reassign :)

[2022-06-08 09:35] ola13 commented on #126
Cool I'd be happy to take a look in the next week or two

[2022-06-08 09:52] lvwerra commented on #125
I think we can can just add the throughput information to the dict that is returned by the evaluator.

I like the idea of an evaluation report, however, I don't think we can assume to know e.g. the device a the pipeline is running on: for now it is a `transformer` pipeline but it could be any callable so we would not know how to get that info. The `evaluate.save` function lets you store any inform

[2022-06-08 12:53] lvwerra commented on #127
Hi @PierreColombo

These metrics look interesting and I think they would be great community metrics. You could add them with the CLI:

[code]

This will create a folder with the necessary skeleton fir the metric and you will also see instructions on how to fill the gaps. That way they will be shared under your name. Would you like to give it a shot? Happy to help should you encounter any difficult

[2022-06-08 13:13] PierreColombo commented on #127
If you want to do it this would be great! You can take credit for it !
Thanks :)

On Wed, Jun 8, 2022, 2:53 PM Leandro von Werra ***@***.***>
wrote:

[2022-06-08 16:54] TristanThrush commented on #51
Hi @prabhakar267 I'm closing this issue, because I think it's resolved? Let me know if I've missed something, and I'll reopen.

[2022-06-08 16:54] #51 closed

[2022-06-09 12:08] lvwerra commented on #127
Hi @PierreColombo, I added a skeleton for Bary Score here: https://huggingface.co/spaces/lvwerra/bary_score/tree/main

From the template only the `bary_score.py` needs to be adapted and I copied your class to `score.py`. What's missing is filling the documentation in `bary_score.py` and writing the README.

It would be great if you could take over and finish the documentation as you are the author

[2022-06-09 13:44] Jordy-VL commented on #96
Hi @lvwerra, I created the first proof of concept demo [here](https://huggingface.co/spaces/jordyvl/ece/blob/main/local_app.py ) (run locally for now).

The space allows calculating ECE with sliders and dropdowns for varying keyword arguments to `_compute`.
Currently, it gives both the metric and a reliability plot that renders dynamically:
![image](https://user-images.githubusercontent.com/160340

[2022-06-13 09:00] NouamaneTazi opened #136 "How to add tensors to batch?"
How to add pytorch tensors to a metric's batch? I tried to declare the features types as `Sequence(Value())` and as `Array2D()` both didn’t work

[code]

[2022-06-13 09:17] NouamaneTazi commented on #136
After some more trials, I found the correct syntax for it to work. But I wish we could keep all dimensions of the tensor dynamic (in the case where we don't know in advance the tensors' shape)
[code]

[2022-06-13 13:01] lewtun opened #138 "Implement `get_evaluation_module_config_names()` function"
In the `datasets` library, there is a handy `get_dataset_config_names()` function ([docs](https://huggingface.co/docs/datasets/v2.2.1/en/package_reference/loading_methods#datasets.get_dataset_config_names)) that returns all the available config names for a given dataset.

It would be useful to have a similar function in `evaluate`, since metrics like `glue` and `bleurt` have multiple config names,

[2022-06-14 08:36] lvwerra commented on #136
You can use `Sequence` for fully dynamic shapes:

[code]

[code]

The `Features` come from `datasets` where it is probably easier to determine the tensor shapes when creating the dataset or dataset scripts. For `evaluate` it is harder as it could be e.g. a metric for images which could be arbitrary shape.

cc @lhoestq

[2022-06-14 11:12] valeriopuglisi opened #140 "Correction on https://huggingface.co/docs/evaluate/package_reference/saving_methods"
In https://huggingface.co/docs/evaluate/package_reference/saving_methods please change the type of results and params variables in the type dictionary as they work. Sets are not valid. Wrong example

[2022-06-14 11:54] cdhx opened #141 "transformers version"
[code]
my transformers version is 4.4.2, is only high version of transformers can use evaluate ?

[2022-06-14 12:01] cdhx commented on #141
maybe is is because my python version is 3.7

[2022-06-14 15:33] lvwerra commented on #140
Indeed, it should be a dictionary. This has been fixed with ef96977610060bb2916ad8b6e0495b134113ec28.

[2022-06-14 15:33] #140 closed

[2022-06-14 15:46] lvwerra commented on #108
We could update ROUGE similiar to BLEU (#19) where optionally a tokenizer can be passed. The `RougeScorer` accepts a `tokenizer` keyword argument.

cc @sashavor

[2022-06-14 15:50] #112 closed

[2022-06-14 15:54] lvwerra commented on #113
Closing this for now. Will re-open it should the issue still persist.

[2022-06-14 15:54] #113 closed

[2022-06-14 15:57] lvwerra commented on #114
For reference: https://github.com/vrama91/cider

cc @sashavor

[2022-06-15 07:17] ab-noob opened #142 "import evaluate is giving missing module error"
After doing pip install evaluate and then doing import evaluate in google collab, it is giving  Error
![Screenshot from 2022-06-15 12-45-55](https://user-images.githubusercontent.com/59682189/173766484-65ea5ce7-f906-42a5-8a70-0cca54b33135.png)
No module named 'datasets.utils.download_manager'

[2022-06-15 12:28] zhanhl316 opened #144 "How to test multiple metrics at one time?"
Hi, thanks for providing this very useful repo!! May I know if there are any tutorials to introduce how to test multiple metrics at one time (e.g., BLEU, PPL, BERT-score)?

[2022-06-15 13:52] lvwerra commented on #142
This is fixed with #143.

[2022-06-15 13:53] #136 closed

[2022-06-17 05:37] PierreColombo commented on #127
Thanks @cakiki  it would be terrific !
All the 3 metrics have the same signature and structure !
Many thanks :)

[2022-06-17 12:41] lvwerra opened #148 "Outputs of `rouge`"
The `rouge` metric outputs `AggregateScore` objects with percentiles and precision/recall/f1 score. I think it would be cleaner to just output a single score for each n-gram e.g. `{"rouge1": 0.8, "rouge2": 0.6, ...}`.

What do you think @sashavor?

[2022-06-17 12:42] lvwerra opened #149 "Inputs of `perplexity`"
Most NLP metrics take as an input `predictions` and `references` except `perplexity` which takes `input_texts`. We could easier combine them by renaming the `input_texts` to `predictions`. What do you think @sashavor and @TristanThrush?

[2022-06-17 14:43] sashavor commented on #149
Agreed!

On Fri., Jun. 17, 2022, 8:43 a.m. Leandro von Werra, <
***@***.***> wrote:

[2022-06-17 17:57] TristanThrush commented on #149
Sounds good to me too!

[2022-06-20 09:26] gmurro opened #151 "IDF weighting doesn't work in bertscore"
I tried to compute the bert score using the IDF weighting but apparently it doesn't compute the IDF weights by itself.
The code is the following:
[code]

The error raised is `AssertionError: IDF weights are not computed`

[2022-06-21 15:30] Coliverfelt opened #152 "ERROR: Using words with different lenght to compute CER and WER"
I was trying to compute WER and CER metrics with a single input (without being in a list) with different lengths.
### INPUT:
**wer_score = wer.compute(predictions="good night moon", references="have a great day")**

And I get the following error:

[code]
However, if the input is a list it works well:

### INPUT:
**predictions = ["hello world", "good night moon"]**
**references = ["hi everyone", "h

[2022-06-21 20:49] NouamaneTazi opened #153 "_enforce_nested_string_type() takes too much time for Sequence(Value(...))"
As you can see in the figure below, most of time spent adding a batch is consumed by `_enforce_nested_string_type()`. Is that necessary?
[code]

![image](https://user-images.githubusercontent.com/29777165/174894495-cce6ccba-0997-4606-aa38-550a7004616c.png)

Related to: #33

[2022-06-21 21:09] NouamaneTazi commented on #153
For my use case, using `Array2D` yielded a much better performance
[code]

[2022-06-22 08:34] lvwerra commented on #153
Indeed, that is very slow. We could probably just check it for the first element of the batch instead of all, but as your analysis points out even if the `_enforce_nested_string_type` is much faster you still spend a significant amount of time on `encode_batch`.

[2022-06-23 19:46] mfumanelli opened #156 "Add g-mean"
Hi! I would like to add the g-mean. Let me know if it would be an interesting contribution.

Thanks 🌈

[2022-06-24 07:55] lvwerra commented on #156
Hi @mfumanelli, that's great! I think the easiest first step is to add it as a community metric. There is a step-by-step guide in the [documentation](https://huggingface.co/docs/evaluate/creating_and_sharing).

Let me know if you need any help!

[2022-06-24 08:00] lvwerra commented on #152
Hi @Coliverfelt, the inputs should be a list, even if you only have one element:

[code]

Does that solve your issue?

[2022-06-24 13:43] Coliverfelt commented on #152
Indeed, it should be and works @lvwerra. However when I put:

[code]

It works as well. But if I put:

[code]

[2022-06-24 13:49] lvwerra commented on #152
That's because predictions expects (and interprets) the inputs as a list of samples and as such expects as many predictions as references. When you pass just a string instead of a list the string is interpreted as a list of characters (`"hello" -> ["h", "e", "l", "l", "0"]`) and therefore the result you get is equivalent to the following:

[code]

So this just works by accident and you should alwa

[2022-06-24 13:52] Coliverfelt commented on #152
Thank you very much. It makes things clear for me.

[2022-06-24 15:56] Coliverfelt opened #161 "CER Normalization"
I'm not finding in the documentation a method to normalize CER metric. Do you have this implemented?

[code]

[2022-06-24 16:58] lvwerra commented on #161
Hi @Coliverfelt, not sure what you mean. You can find the implementation details here:
https://huggingface.co/spaces/evaluate-metric/cer/blob/main/cer.py

[2022-06-27 03:33] Coliverfelt commented on #161
Hi @lvwerra! My point is that when CER metric is above 1.0, like in this example:

reference: 2.49
prediction: 749.00
cer: 1.25

substitute= 1
delete = 1
insert = 3
hits = 2
reference length = 4

**CER formula is substitute + delete + insert / reference length and the result is equal to 1.25.**

But in this case that CER is greater than 1.00 we should apply normalization. So the normalized result

[2022-06-29 08:39] lewtun opened #165 "Add common metrics for information retrieval"
There's a nice summary of common metrics for IR here: https://www.pinecone.io/learn/offline-evaluation/

Although we have many of these as part of `trec_eval`, it could make sense to have separate metrics like MRR and NDCG@K to give visibility

[2022-06-29 10:45] cakiki commented on #165
@lewtun I'd like to help with this!

[2022-06-29 13:58] lewtun commented on #165
That would be wonderful - thank you @cakiki !

[2022-06-29 16:00] lvwerra opened #168 "Reduce memory footprint of `compute`"
Currently, when `compute` is called all data is loaded into memory and passed as a list. This can pose a bottleneck especially for data intensive modalities (e.g. images) or measurements of large datasets. As an alternative we could pass a generator (or something similar) object that iterates over the datasets as many metrics are calculated in for loops or list comprehensions. If necessary we can

[2022-06-29 16:16] lvwerra opened #169 "Move `kwargs` from `compute` to a config pass during `load`"
Currently, there is a mix between configs that are used when the metric is instantiated and configs that are later passed to `compute`. This makes life harder in several ways as pointed out in #137 and #138 and also makes the `combine` function from #150 harder to use. The two main points:

- It is hard to know in advance what configs are available (e.g. useful for eval on the hub)
- It is hard to

[2022-06-30 07:09] lewtun commented on #169
I like this proposal to move all `kwargs` to the `load()` function a lot!

To help gauge the difference, could you share some pseudocode that demonstrates what the new API would look like for a "simple" (few `kwargs`) vs "complex" metric (mix of configs and `kwargs`)?

[2022-07-01 08:57] loubnabnl opened #171 "add warning/error when metric name includes a hyphen"
Currently when calling `evaluate-cli create METRIC_NAME` one can choose a `METRIC_NAME` that has a hyphen in it, so in the metric file `class METRIC_NAME(evaluate.EvaluationModule)` would end up having a hyphen in it which is not allowed in Python.

[2022-07-04 15:37] lhoestq commented on #168
I like the idea ! The generator can be created from the `Dataset` object itself

small tip: load batches of data instead of doing row-by-row queries to a `Dataset` for a nice speed-up ;)

[2022-07-07 13:16] #171 closed

[2022-07-07 13:16] #153 closed

[2022-07-07 13:16] #149 closed

[2022-07-07 13:17] #148 closed

[2022-07-07 13:18] #144 closed, assigned to nobody

[2022-07-07 13:19] lvwerra commented on #96
Closing this for now as the discussion is continuing on hf.co.

[2022-07-07 13:19] #96 closed

[2022-07-07 13:20] lvwerra commented on #118
For `meteor` this is now done in #164.

[2022-07-08 11:46] Dicer-Zz opened #181 "Is there a recommended way to persist metric scripts？"
As the question, I would like to ask if there is a recommended way to persist the downloaded metric script, because my internet connection is not stable.

There is a `save_to_disk` method in dataset to persist the datasets locally and then load it again via `load_from_disk`. Is there a similar method for metric? Or how should I implement this function myself?

I know `load_metric` will use the cac

[2022-07-08 12:08] Dicer-Zz commented on #181
I found the solution from [this blog](https://discuss.huggingface.co/t/using-load-metric-offline-in-datasets/9283).

[2022-07-08 12:08] #181 closed

[2022-07-08 12:35] #8 closed, assigned to nobody

[2022-07-13 12:21] mariosasko commented on #118
Nice! Support for multiple references (`score_multi`) has also been added to Google's ROUGE implementation, so we can do a similar thing for  `rouge` to resolve this issue. cc @sashavor

[2022-07-13 16:31] AndreaSottana opened #184 "Add option to reduce compute time of rouge score by only calculating user-specified scores"
This is a feature request (unless I'm unaware that it already exists).
When computing the rouge score in the following way
[code]
the function returns a lot of values, such as this
`
{'rouge1': AggregateScore(low=Score(precision=0.6, recall=0.75, fmeasure=0.6666666666666665), mid=Score(precision=0.6, recall=0.75, fmeasure=0.6666666666666665), high=Score(precision=0.6, recall=0.75, fmeasure=0.66666

[2022-07-14 07:18] lvwerra commented on #151
This should be fixed with #183. Let me know if you face any issues.

[2022-07-14 07:18] #151 closed

[2022-07-14 09:27] lvwerra commented on #118
That's great, unfortunately they haven't made a release in ages (https://github.com/google-research/google-research/issues/1199) and installing from source seems broken at the moment (https://github.com/google-research/google-research/issues/1203). Once either of those changes it would be straightforward to integrate `score_multi` into `rouge`.

[2022-07-14 09:38] lvwerra commented on #184
Hi @AndreaSottana

You can select which ROUGE scores to compute by passing `rouge_types` to `compute`. E.g. to only compute ROUGE-2 you can use:

[code]
However there is no way to control which statistics per scores are computed (e.g. `f1`, `recall`, `precision`) but they should be fairly efficient since they are derived from the same set of underlying statistics (e.g. `f1` is derived from `recall

[2022-07-14 10:34] #184 closed

[2022-07-14 11:34] AndreaSottana opened #186 "rouge score giving non-deterministic results"
I'm not sure if this is a bug or an expected behaviour, but I couldn't find any reference to this in the docs so I thought I'd open an issue.

I have noticed two things when calculating rouge scores on large chunks of long text documents

1. The scores are non-deterministic. If I re-start python and re-initialise the metric with `rouge_score = evaluate.load('rouge')` and then re-calculate the scor

[2022-07-14 13:14] lvwerra commented on #186
I believe question 1) is related to this post: https://github.com/huggingface/datasets/issues/361#issuecomment-655988938 and if you turn off the bootstrap aggregator (`use_aggregator=False`) it should be deterministic.

I believe also for 2) the bootstrapping might be the issue. Look at the following toy example:

|P|R|F1|
|:-|:-|:-|
|0.1|0.01|0.02|
|0.1|0.01|0.02|
|0.01|0.1|0.02|
|0.01|0.1|0.02|

[2022-07-15 08:12] lvwerra commented on #186
Bootstrapping is just a way to estimate confidence intervals (low/mid/high). It is not necessary to run it at all and you can turn it off with `use_aggregator=False` in which case you get raw values directly. This should also be a bit faster.

[2022-07-17 03:04] versipellis opened #187 "PyArrow Version Minimum?"
What version of `pyarrow` does `evaluate` need? I'm running `pyarrow==3.0.0` due to another dependency conflict, but I get this error when I try to import `evaluate`:

`ImportWarning: To use `datasets`, the module `pyarrow>=6.0.0` is required, and the current version of `pyarrow` doesn't match this condition`

However, I can successfully run `datasets` with `pyarrow==3.0.0`, with `datasets==1.12.1

[2022-07-18 07:52] lvwerra commented on #187
Hi @versipellis, is it possible that you installed a newer version of `datasets` with `evaluate`? Since `datasets==2.0.0` the dependancy has been updated for `pyarrow`: https://github.com/huggingface/datasets/commit/f144ba69aee057e9e1447796712302adc3d6558a

[2022-07-18 08:41] versipellis commented on #187
Hi @lvwerra, I thought about that, but verified that `datasets==1.12.1`.

[2022-07-18 08:44] lvwerra commented on #187
That's weird, because `evaluate` does not check the arrow version so the import warning must come from `datasets`. If you import `datasets` before `evaluate` does the warning still come first from evaluate?

[2022-07-18 11:22] AndreaSottana commented on #186
Thanks again

[2022-07-18 11:22] #186 closed

[2022-07-18 23:36] versipellis commented on #187
Looks like I somehow did end up in a weird dependency hell state between conda and pip where I ended up with `datasets==1.12.1` and `evaluate` where `evaluate` required a later version of `datasets`. PEBKAC, sorry about that!

[2022-07-18 23:36] #187 closed

[2022-07-19 08:14] vishal-burman commented on #118
Multiple references for meteor is still not working.
[code]
results in this stack error:
[code]

[2022-07-19 08:18] lvwerra commented on #118
Did you install `evaluate` from source? This change is not released, yet. You can install the latest version with:

[code]
Let me know if this works.

[2022-07-19 09:16] loubnabnl opened #189 "`evaluate.load` not loading all files in the repo"
`evaluate.load` only loads the files that are imported in the main file, so a user will need to include the import in the main file even if they don't use it there for the files to be loaded, it might be nice to include this in the docs.

An example here:
https://huggingface.co/spaces/loubnabnl/apps_metric/blob/main/utils.py#L5
and the error I got before I included the import in the main file:
[co

[2022-07-19 09:22] #125 closed

[2022-07-21 13:36] fxmarty opened #196 "Support multiple input columns for TextClassificationEvaluator, regression subtasks"
https://huggingface.co/datasets/glue includes:

* datasets where we may have several input columns ( https://huggingface.co/datasets/glue/viewer/mnli/train , https://huggingface.co/datasets/paws )
* datasets where the labels are floats on a given range, task is regression ( https://huggingface.co/datasets/glue/viewer/stsb/train )

It would be nice to support those in TextClassificationEvaluator.

[2022-07-26 09:37] lvwerra commented on #196
I feel like the former is probably best addressed in the preprocessing: It's literally a onliner to merge to text column into one (`ds = ds.map(lambda x: {"text": x[col1] + sep + x[col2])`. We can definitely add an example to the guide.

 For the latter I think we could have a kwarg `problem_type="regression"` in the evaluator that also has a useful default metric. Wdyt?

[2022-07-26 11:51] Coliverfelt commented on #161
I think this way could work well!
I'm fowarding the link with the CER normalization content and a image with it's explanation.
https://towardsdatascience.com/evaluating-ocr-output-quality-with-character-error-rate-cer-and-word-error-rate-wer-853175297510#5aec

![image](https://user-images.githubusercontent.com/36710164/180999337-c7a6695a-9bd7-4dbc-9419-84624070ead4.png)

[2022-07-26 21:25] fcakyon opened #208 "how to reset gathered results at new epoch start?"
Thanks for the great package! I am using it in my new fine-tuning framework :100:

Usually, we reset accumulated results at the new epoch start so that we can calculate separate metrics for each epoch. How to do it with huggingface/evaluate? I could not find any `reset` method as in [torchmetrics](https://torchmetrics.readthedocs.io/en/stable/pages/implement.html#torchmetrics.Metric.reset). Am I m

[2022-07-26 22:03] fcakyon commented on #208
I got my answer in https://github.com/huggingface/accelerate/issues/574

[2022-07-26 22:03] #208 closed

[2022-07-26 22:16] sgugger opened #209 "Evaluate does not support versions of Datasets < 2.0.0"
Hi there. Not sure why it's not pinned in the setup so opening an issue instead of a PR directly fixing. Evaluate uses the import
[code]
[here](https://github.com/huggingface/evaluate/blob/d781f85c55f94bd4f1896c12d9a2ea444f4805b3/src/evaluate/loading.py#L30).

However, this is only possible in datasets>=2.0.0 (just tried with 1.18.4) so it looks like this is the minimal version of Datasets require

[2022-07-27 08:07] lvwerra commented on #209
Hi @sgugger thanks for reporting. We pinned this for each each space but not in the `setup.py` for some reason. Will pin it and do a patch release - thanks for reporting!

[2022-07-27 11:04] sgugger commented on #209
Thank you!

[2022-07-27 18:53] jessecambon opened #210 "Feature: allow evaluator to accept tokenized input"
I believe the evaluator currently only supports text input. It would be useful if it could also accept tokenized input data (ie. if the data is already stored in tokenized format or we want to isolate the inference process from the tokenization process).

[2022-07-27 19:23] meg-huggingface opened #211 "evaluate-cli for creating measurements seems not to work"
Following the installation instructions here:
https://huggingface.co/docs/evaluate/installation

And then trying to add a new measurement, following: https://huggingface.co/docs/evaluate/creating_and_sharing and using python3.9,

I get this error:

[code]

[2022-07-27 19:26] meg-huggingface commented on #211
Suggest adding 'cookicutter' as a requirement.

[2022-07-27 19:29] meg-huggingface opened #212 "evaluate-cli module_type not working"
After installing cookiecutter after the step-by-step described in my last issue: https://github.com/huggingface/evaluate/issues/211 , error is now:

(.env) bash-3.2$ evaluate-cli create "npmi" module_type="measurement"
usage: evaluate-cli <command> [<args>]
HuggingFace Evaluate CLI tool: error: unrecognized arguments: module_type=measurement
(.env) bash-3.2$ evaluate-cli create "npmi" module_type=

[2022-07-27 19:34] jmwoloso commented on #210
+1

This would really be beneficial when the quantity and volume of text makes it impractical to use conventional methods for inference (e.g. tokenizing on the fly, payload size if inferencing via api endpoint, etc.)

[2022-07-27 19:38] lvwerra commented on #211
There is a `pip install evaluate[template]` as described in the README [here](https://github.com/huggingface/evaluate#adding-a-new-evaluation-module) but it's currently missing from the docs. Will update it!

[2022-07-27 19:43] lvwerra commented on #212
Indeed that's a mistake in the docs. It should be the following:

[code]

Does that work?

[2022-07-27 19:45] meg-huggingface commented on #211
Ah yes, I had run this previously but when I backed off and started afresh step-by-step, lost that step. Thanks!

[2022-07-27 19:51] meg-huggingface opened #213 "Re-Creating Space with evaluate-cli not working"
Presumably this error is happening because a Space was already created -- should evaluate-cli handle that situation?
Since I don't remember exactly where evaluate creates these, the error would be more helpful to me if it gave the url of the Space it's trying to create
As-is, the given url shown in the evaluate-cli error (which is thrown from requests/models.py) provides a different url, https://h

[2022-07-27 19:52] meg-huggingface commented on #212
Good catch! Unfortunately, this doesn't work for me either, but it is a different issue.
Filed now here: https://github.com/huggingface/evaluate/issues/213

[2022-07-27 19:57] lvwerra commented on #213
Yes, if the space already exists this will fail. We can add extra checks for that! The space is created under your account.

You should see the space here:
https://huggingface.co/meg/

[2022-07-27 19:59] meg-huggingface commented on #213
Great! Could we:
- Add a check and perhaps a flag to overwrite
- Print out the specific url where it's trying to create the space?

[2022-07-27 20:04] meg-huggingface opened #214 "evaluate HOWTO directs to Space instructions, which fail."
Following the instructions from evaluate, and help from the previous issues I filed, I now have a https://huggingface.co/spaces/meg/npmi.
Following the instructions there, I now get the following error.
I recognize at this point it becomes a Spaces issue, not an evaluate issue (?), but in the meantime the evaluate instructions might be updated:

(.env) bash-3.2$ git add app.py
(.env) bash-3.2$ git

[2022-07-27 20:08] lvwerra commented on #214
Are you in the subfolder of the created space? it looks like you are trying to push to the evaluate repo.

[2022-07-27 20:14] meg-huggingface commented on #214
Sound like you are saying that I need to cd .. out of the evaluate repo before interacting with the Space? This is what I had thought, but, I was following the instructions precisely. See:

``evaluate-cli create "My Metric" module_type="metric"
This will create a new Space on the 🤗 Hub, clone it locally, and populate it with a template. Instructions on how to fill the template will be displayed in

[2022-07-27 20:27] lvwerra commented on #214
Wherever you execute the CLI command it will create a folder with the cloned space. You need to cd into that folder before git adding the files.

[2022-07-27 20:31] meg-huggingface commented on #214
Right, I forgot!  The issue is that when you go the Space, it gives more instructions -- which you should *not* follow. Perhaps a parenthetical in the evaluate instructions I highlighted "(if you go to the Space right now, it will have separate instructions -- ignore those, we have it covered in the steps here!)"

[2022-07-27 20:39] meg-huggingface opened #215 "Add gradio as a dependency?"
Following the evaluate instructions, you eventually get to a point where you run app.py
When you run that, it mentions you need to check that gradio is installed -- but a bit hard to see because an error is immediately thrown (see below). Perhaps the instructions could specify to install gradio (`pip install gradio`), or else do it automatically, earlier, by including it with `pip install evaluate

[2022-07-28 12:16] #209 closed

[2022-07-28 13:07] fxmarty commented on #210
Hello,

Thank you for trying out the evaluator! For which task is your use case? If it is text classification or question answering and you are using a transformers model, my first idea is that you could try the following:

[code]

and feed this pipeline (that skips preprocessing i.e. here tokenizing) to the evaluator. The result of this is that you can provide in the `input_column` argument of th

[2022-07-28 23:32] jmwoloso commented on #210
hi @fxmarty, yes this is for text classification. thank you for the suggestion to extend `TextClassficiationPipeline`, that seems like a solid idea (similar to extending the PT `DataModule` class).

[2022-07-29 09:43] fcakyon opened #219 "How to calculate multi-label F1 score?"
Hello all,

Assume I have more than 1 true label per image or video. How to calculate multi-label F1 using this module?

Check this reference to see how torchmetrics handle multi-label predictions: https://torchmetrics.readthedocs.io/en/stable/pages/classification.html#input-types

I have also created a HF Hub discussion:
https://huggingface.co/spaces/evaluate-metric/f1/discussions/2#62e3ab6ef3b20

[2022-07-29 09:50] lvwerra commented on #219
Hi @fcakyon, I answered in the HF Hub discussion and close this for now.

[2022-07-29 09:50] #219 closed

[2022-07-29 10:09] fcakyon commented on #219
Thanks opened a PR on hub: https://huggingface.co/spaces/evaluate-metric/f1/discussions/3

[2022-07-29 20:00] jessecambon commented on #210
@fxmarty, thanks this is a good approach. The custom pipeline does work for model inference on tokenized text. However, I did have to add an `__init__` definition (see below) to get the evaluator to accept it.

The code below runs successfully until the final step where `evaluator.compute()` is called. On that command I this error

    return self.model(**model_inputs)
TypeError: ORTModelForSequen

[2022-08-01 07:23] fxmarty commented on #210
Hello, here is a corrected code snippet that does work, the forward expects a dict and not a tensor. Feels very hacky though, we should allow more flexibility in the input to the evaluator.

[code]

[2022-08-01 16:17] mathemakitten commented on #189
Seconding that this seems like it'd be useful! I recently tried to load a custom metric which opened up a JSON file for configuration, but the JSON file wasn't loaded. I think this might not be a "canonical" use case though, so perhaps optional to actually support.

[2022-08-02 01:16] meg-huggingface opened #224 "pip install evaluate[template] doesn't work for me =("
Following https://huggingface.co/docs/evaluate/installation , the command `pip install evaluate[template]` doesn't work.
Should it be `pip install evaluate template` or something like this? Or is there a specific template name to use?

Error:
[code]

[2022-08-02 13:16] lvwerra commented on #224
Just tested this in a Colab and it worked. What Python version are you using?

[2022-08-02 13:17] #215 closed

[2022-08-02 13:17] #213 closed

[2022-08-02 13:17] #214 closed

[2022-08-02 13:17] #212 closed

[2022-08-02 13:18] #211 closed

[2022-08-03 00:31] meg-huggingface commented on #224
3.9

[2022-08-03 14:27] lvwerra commented on #210
Thanks @fxmarty for the example. Closing this for now.

[2022-08-03 14:27] #210 closed

[2022-08-03 14:32] lvwerra opened #226 "Issue with `evaluator` when the dataset is passed as a string."
If a dataset is passed as a string the loading of the data will fail since the rest of the pipeline expects a `dataset.Dataset` and not a `dataset.DatasetDict` which is returned if no split is provided. I propose we auto-select a split with the following logic: `test` > `validation` > `train`. We can inform the user with a log which split is evaluated.

cc @fxmarty @ola13

[2022-08-03 14:35] lvwerra commented on #161
Sounds good, do you want to take a stab at it?

[2022-08-03 14:37] lvwerra commented on #116
Since the metrics use Arrow to store the predictions/references adding a batch does not use more memory, only during `compute` all data is loaded. There are plans to avoid this (#168). Closing this in favour of the newer issue.

[2022-08-03 14:37] #116 closed

[2022-08-03 14:37] #110 closed

[2022-08-03 14:41] #119 closed

[2022-08-03 14:46] lvwerra commented on #156
The metric is implemented here: https://hf.co/spaces/mfumanelli/geometric_mean/blob/main/geometric_mean.py

[2022-08-03 14:46] #156 closed

[2022-08-03 19:37] mathemakitten commented on #224
The zsh shell interprets square brackets as a pattern on the command line; they need to be escaped; e.g. `pip install -e ."[dev]"`.

[2022-08-05 09:30] #118 closed

[2022-08-05 09:44] lvwerra commented on #224
Thanks @mathemakitten! Closing this for now. We can re-open should the issue persist.

[2022-08-05 10:02] #224 closed

[2022-08-05 14:30] lvwerra commented on #189
Note that you can use the `_download_and_prepare` method to download any additional files:

https://github.com/huggingface/evaluate/blob/eaf34a7d04e7ab3e6155a046f6d7fda01d9ead84/templates/%7B%7B%20cookiecutter.module_slug%20%7D%7D/%7B%7B%20cookiecutter.module_slug%20%7D%7D.py#L84

[2022-08-05 16:06] mathemakitten opened #233 "Implement "text generation" task in the Evaluator"
In addition to the current task types available in the Evaluator we want a generic text generation pipeline which runs inference and returns generations. The "data" the evaluator will take in this case will be (optionally) a set of prompts for the language model. This will be useful for implementing evaluations requiring a set of model generations, such as RealToxicityPrompts's "toxicity probabili

[2022-08-05 20:59] fcakyon opened #234 "Cannot use `average` argument of `f1` score in `CombinedEvaluations`"
This works:

[code]

This doesn't work:

[code]

Reason:
`average` is not included in f1 score features: https://github.com/huggingface/evaluate/blob/eaf34a7d04e7ab3e6155a046f6d7fda01d9ead84/metrics/f1/f1.py#L112****

and `CombinedEvaluations.compute` ignore if argument is not included in features: https://github.com/huggingface/evaluate/blob/eaf34a7d04e7ab3e6155a046f6d7fda01d9ead84/src/evaluate/m

[2022-08-08 21:44] kadirnar commented on #111
Hi @lvwerra

Do you plan to add a 3rd party application for the COCO map metric?

[2022-08-08 21:59] kadirnar opened #235 "Metric Request: Add metric Brier Score"
Would you consider adding metric [Brier Score](https://en.wikipedia.org/wiki/Brier_score) to this repo?  I can help with this.

[2022-08-08 22:51] Guitaricet commented on #114
Official CIDER implementation uses `PTBTokenizer` from Stanford CoreNLP. Unfortunately, it requires java and a `.jar` file with the library. What do you think could be an acceptable way to add CIDER to Evaluate?

[2022-08-09 18:54] Ayenem opened #239 "Basic doc example not running in poetry shell. "No module named _lzma""
`poetry add evaluate`
[code]
[code]
[code]

[2022-08-09 19:40] mathemakitten opened #240 "Refactor perplexity implementations to be usable with evaluators"
Currently the `perplexity` metric and measurement both instantiate an entire model object within the `_compute()` function and run inference, which breaks the pattern where only predictions, references, and other metadata is passed in and only the metric computation is performed (e.g. inference is already run before the metric hits its `_compute` function, which is the case for most other metrics)

[2022-08-10 09:23] malteos opened #241 "Perplexity with `torch.exp2` instead of `torch.exp`"
Hi,

thanks for your work on this project!

I was surprised the see that your perplexity implementation uses the base two exponential.

See https://github.com/huggingface/evaluate/blob/main/metrics/perplexity/perplexity.py#L183

Is this indented or a bug?

[2022-08-10 23:06] mathemakitten opened #243 "Fix gradio widgets on the perplexity metric/measurement spaces"
This widget seems like it'd be useful for demonstration purposes but right now I'm unclear if it's broken or incomplete. I assume the rows in the columns data (measurement) and predictions (metric) should correspond to text which we want to measure perplexity on, but it's unclear what they should be right now / why it doesn't work.

<img width="1296" alt="Screen Shot 2022-08-10 at 4 02 31 PM" src=

[2022-08-11 00:13] LecbychMichal opened #244 "Import issue"
When I was using "import evaluate" library in Kaggle notebook. The import automatically fulled 15,4 GB of GPU memory, and I could not further train the model due to lack of memory. This happened only when I was using this import, so there must be something wrong with it.

[2022-08-11 04:22] shysuen-002 opened #245 "cannot import name 'dispatch_model' from 'accelerate' (unknown location)"
Traceback (most recent call last):
  File "/transformers/src/transformers/utils/import_utils.py", line 990, in _get_module
    return importlib.import_module("." + module_name, self.__name__)
  File "/usr/lib/python3.8/importlib/__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1014, in _gcd_import

[2022-08-11 04:23] shysuen-002 commented on #245
when I import evaluate, python3(my python version is 3.8.10) shows cannot import name 'dispatch_model' from 'accelerate' (unknown location)

[2022-08-11 04:25] shysuen-002 commented on #245
I use the images from DockerHub, the relative docker name is huggingface/transformers-pytorch-gpu: 4.21.1(command: docker pull huggingface/transformers-pytorch-gpu:4.21.1)

[2022-08-11 06:20] fcakyon commented on #234
@lvwerra do you have any opinion on that?

[2022-08-11 10:24] cakiki commented on #244
This might be a tensorflow issue, but should have been fixed in https://github.com/huggingface/evaluate/commit/9b6cea3ef7f84dd619d65a6fd5a7da07f2386fae afaik.

What version of evaluate are you using?

[2022-08-11 12:37] BramVanroy commented on #10
Any updates on this? I'm running into the headache that, indeed, I need to write my own metric-specific edge cases depending on the expected input. If there is a consensus about how to move forward with this, I can work on it relatively elaborately!

[2022-08-11 14:02] BramVanroy opened #249 "Installation problem with [template]"
When installing with the optional `[template`] leads to a bug:

The issue a missing comma in the dependencies in the setup file. Should be fixed by https://github.com/huggingface/evaluate/pull/248 but posting bug here for future visitors.

[2022-08-11 19:10] mathemakitten opened #251 "Add bits-per-word metric"

[2022-08-15 09:40] #196 closed

[2022-08-15 11:37] #249 closed

[2022-08-15 12:54] lvwerra commented on #239
Could this be similar to this issue: https://github.com/pandas-dev/pandas/issues/27532?

[2022-08-15 12:57] lvwerra commented on #234
Yes, this is a current limitation of combine: you can't pass any settings to `compute` only the features. Rather than fixing this in `combine` we aim to enable changing the settings when the metric is loaded in #169. This should be coming in the next few weeks.

[2022-08-15 12:58] #189 closed

[2022-08-15 13:01] lvwerra commented on #235
That would be awesome! You can either add it in the folder `metrics/` and create a PR or add it as a community metric following this [guide](https://huggingface.co/docs/evaluate/creating_and_sharing).

[2022-08-15 16:23] lvwerra commented on #243
[code]

The issue is that the widget only creates inputs for the features. I think we should add a default model anyway. Maybe some GPT-2 checkpoint?

[2022-08-15 17:25] Ayenem commented on #239
Seems like it, however trying the same approach with Poetry instead of pyenv didn't work.
` poetry env remove /usr/local/bin/python3.10`
 `Deleted virtualenv: /home/user/.cache/pypoetry/virtualenvs/lds-dfhFRtYN-py3.10`
` sudo apt-get install liblzma-dev`
[code]
`poetry shell`
[code]
[code]
`ModuleNotFoundError: No module named '_lzma'`

I ended up using google-research's implementation of ROUGE, i

[2022-08-15 17:37] #241 closed

[2022-08-17 21:07] rahular opened #256 "`rouge` not working for non-Latin scripts"
`rouge` scores for non-Latin scripts are often 0. Is there an option to pass in a custom tokenizer as `rouge-score` does?

[code]

[2022-08-18 07:48] pratikchhapolika opened #257 "Kernel keeps in running state after running metric = evaluate.load("seqeval")"
I am trying to load `metric = evaluate.load("seqeval")`
But it keeps running in `GPU jupyter notebook.`

[code]

[2022-08-18 09:24] lvwerra commented on #257
I just ran the command with the same Python and library versions successfully (here a [colab notebook](https://colab.research.google.com/drive/1XsUoVbz3buBFFVbbhyLtFCGbksjvnGre?usp=sharing)). Are there any outputs in the Jupyter console giving a hint where it is hanging?

[2022-08-18 09:29] lvwerra commented on #256
Indeed, this has been discussed in #108. The solution would be to implement the tokenizer logic as discussed there.

[2022-08-18 09:54] lvwerra commented on #244
Hi @LecbychMichal could you check whether this issue was resolved with the latest version? If not could you provide the version you are using?

[2022-08-18 10:30] pratikchhapolika commented on #257
@lvwerra

I am in restricted zone. Where there is no internet. My guess is `metric = evaluate.load("seqeval")` is downloading something externally.

So I tried to download folder: `huggingface/datasets/Metrics/seqeva/` put it in my local folder. and then run:
`metric = evaluate.load("seqeval")`

But no luck. It throws me

`TypeError: 'NoneType' object is not callable`

[2022-08-18 11:48] lvwerra commented on #257
Indeed, metrics are loaded from [hf.co](hf.co). E.g. seqeval is loaded from here: https://huggingface.co/spaces/evaluate-metric/seqeval/tree/main

If you don't have any internet connection you can download the folder (in this case also just the seqeval.py script) into a `seqeval/` folder. Then you should be able to load it with `evaluate.load("./seqeval/")`. The issue with your approach is that yo

[2022-08-18 16:10] rahular commented on #256
Thanks, @lvwerra! I assume it's enough to pass the tokenizer to `compute` (as seen in your PR #258) and we don't need to pass it to `add_batch` since no computation takes place there?

[2022-08-18 16:11] lvwerra commented on #256
Yes, that's the case!

[2022-08-18 16:43] AndreaSottana opened #260 "Rouge score not backward compatible as recall and precision are no longer returned"
Hello

I have seen that in this PR https://github.com/huggingface/evaluate/pull/158
you have removed the recall and precision from the ROUGE score calculation, which now only returns F1 score.
May I ask why was this decision made, and why there doesn't seem to be an option to keep recall and precision in the returned output?

This is also a breaking change (in the sense that if I have some code wr

[2022-08-18 17:11] lvwerra commented on #260
Hi @AndreaSottana

Yes, this was a breaking change - we planned to do it before the initial release but it went under. There are a number of advantages moving from the `RougeScore` object that was returned to a pure python dict. If you find the recall and precision is useful we could add an option (e.g. `detailed=True`) to the `compute` call to return those as well.

We haven't had a full major re

[2022-08-18 17:28] AndreaSottana commented on #260
Thanks @lvwerra for your quick reply.

I definitely agree a pure python dictionary is much better, however I believe it would be possible to add recall and precision in a python dict without necessarily using the old `RougeScore` object.
Overall many summarization papers seem to report ROUGE scores based on F1, but some also use scores such as recall (for example for content selection) therefore I

[2022-08-18 17:36] #256 closed

[2022-08-19 07:18] pratikchhapolika commented on #257
Yayyyy!!! worked.  Thank you so much @lvwerra

[2022-08-19 07:18] #257 closed

[2022-08-21 22:12] meg-huggingface opened #266 "measurements/word_length naming"
`measurements/word_length` appears to return the average number of words in a sentence, rather than the (average) word length.
Word length measurements could be a helpful measurement to add, but this measurement is a bit misnamed from what I expected.

Some useful, distinct measurements in this family would include:
- **sentence_length:** The average number of characters in a sentence and the aver

[2022-08-24 08:29] lvwerra opened #274 "Migrate CircleCI to GitHub Actions"
Since there has been some issues with CircleCI (#270) and we mostly inherited it from `datasets` which since also has moved, I propose to migrate the CircleCI to GitHub Actions.

[2022-08-25 12:56] zouharvi commented on #244
Hi, I'm facing the same issue. It fills ` 9970MiB / 11264MiB` (examined by nvidia-smi) just after importing it. On two computers I have `evaluate=0.2.2` and this issue arises on only one of them.

I have a suspicion that it has to do something with `hdf5` though I'm not sure. How to trace this issue?

[2022-08-25 13:14] zouharvi commented on #244
Indeed, looks like there was some mismatch with `hdf5` (or some other libraries?). Once I loaded the version `1.10.1`, I suddenly didn't get a full GPU. I don't have any closer information but it may still help those in the future wondering why their GPU is getting full just after `import evaluate`.

[2022-08-25 14:40] kasmith11 commented on #106
Is this being worked on? If not, I'd like to try! I can do this by following the directions outlined [here](https://huggingface.co/docs/evaluate/creating_and_sharing), correct?

[2022-08-26 11:23] lvwerra commented on #106
Hi @kasmith11, I don't think anybody is working on it right now. Following the guide will create a community metric (i.e. one you can load with `load("kasmith/wood")`. But to make it an official metric maintained in evaluate we can simply move the code into `metrics/` after, so it's a good start and you can test it without needing to merge a PR :)

[2022-08-26 11:34] sezan92 commented on #106
i would also like to work on this one. [new guy here]

[2022-08-26 12:44] kasmith11 commented on #106
I'm very open to collaboration! If you're interested, we can work together on this @sezan92. Would that change anything you outlined above @lvwerra?

[2022-08-26 12:48] lvwerra commented on #106
Sure, if you'd like to collaborate that would be a good issue :) For communication you could join our Discord: https://huggingface.co/join/discord

[2022-08-26 18:37] #226 closed

[2022-08-26 22:25] m-movahhedinia commented on #234
@lvwerra Do you mind if I ask whether you have an estimate on when this issue will be closed? I reviewed #188 and noticed that it seems to be passing for pip release. Is there a chance we can git it in the next couple of days?

[2022-08-29 08:56] lvwerra opened #276 "Add FID score"
It would be nice the add the FID score to `evaluate` as a metric for generative models.

cc @patrickvonplaten @anton-l

[2022-08-29 09:07] sezan92 commented on #106
@kasmith11 sorry for late reply. sure. how would you like to begin ?

[2022-08-29 13:02] kasmith11 commented on #106
Hi @sezan92, I took an initial pass at implementing WOOD score [here](https://huggingface.co/spaces/kasmith/woodscore/tree/main) after reading the paper. I haven't gotten a chance to test the implementation or fill out any of the documentation.

I think testing/debugging and documentation are the next steps.

Are you in the huggingface discord linked above? I think that would be a great place for

[2022-08-30 10:20] shuaihuaiyi commented on #244
I'm facing same issue, simply importing `evaluate` will consume all my GPU memory. The version of `evaluate` is 0.2.2

Code:
![image](https://user-images.githubusercontent.com/14048129/187411826-3f005090-8551-45e6-8307-9697795343e6.png)

`nvidia-smi` report:
![image](https://user-images.githubusercontent.com/14048129/187412183-c29e51c5-80e7-4914-b60d-b803304fc6b7.png)

[2022-08-30 11:28] kadirnar opened #277 "Using mathematical expressions for readme.md file"
Hi @lvwerra,

Would you consider using a mathematical expression instead of a picture?

Input:
[code]
Output:

![image](https://user-images.githubusercontent.com/14205986/165999302-eba3702d-81e3-4363-9c0e-d3bfceb7ec5a.png)

Recommended Input:
[code]
Recommended  Output:
## $$\text{mse}(x,y) = \frac{1}{n} \sum_{i=1}^n (x_i - y_i)^2$$

[2022-08-30 11:33] lvwerra commented on #277
Currently, the Gradio app displaying the Readme on the Hugging Face Hub does not support Latex in the Markdown (https://github.com/gradio-app/gradio/issues/538) so a picture is the best alternative for now.

[2022-08-30 11:45] kadirnar commented on #277
Thank you for the answer.

[2022-08-30 11:45] #277 closed

[2022-08-31 14:12] #235 closed

[2022-08-31 18:43] mathemakitten opened #280 "Add semantic similarity evaluator"
Needed for tasks like `glue/mrpc`, with a default to cosine similarity.

[2022-08-31 18:48] mathemakitten opened #281 "Add natural language entailment evaluator"
For supporting tasks like `glue/mnli`: https://cims.nyu.edu/~sbowman/multinli/

Tasks in this format: glue/mnli, glue/rte, glue/wnli

[2022-08-31 19:34] lvwerra commented on #281
Could this be done with the `text-classification` evaluator: https://github.com/huggingface/evaluate/pull/205?

[2022-08-31 21:48] mathemakitten opened #282 "Add support for `config` field in evaluator data loading logic"
Loading evaluation datasets from the `glue` benchmark require passing a name to the `name` field (e.g. `load_dataset('glue', 'sst2')`). Right now the base evaluator data loading code optionally takes `split`, but it does not take a `name` field.

The current workaround is to preload your data as a `Dataset` object so it never hits the data loading function baked into the evaluator, but we'd like t

[2022-09-01 15:28] mathemakitten opened #284 "Add preprocessing module for evaluation datasets"
For `boolq`, we'd need to modify each example to be in the format `f"Passage: {passage} Question: {question} Answer:`  — and then appending "True" or "False" and evaluating likelihoods. Possibly via adding an f-string argument to the zero-shot evaluator.

Outstanding:
* If we do this, how should we track the formatting for reproducibility of results? Sometimes removing trailing spaces or changing

[2022-09-01 20:41] zhangsiyu1103 opened #285 "GPU usage for evaluate image classification using pipeline"
I am trying to run evaluation on imagenet for basic vit following the [instruction](https://huggingface.co/docs/evaluate/base_evaluator)
[code]
However, although it is argued that it would automatically detect gpu and runs on it, it does not. This can be fixed by changing the pipeline to model and feature extractor as shown as
[code]
Is it possible to use pipeline directly on gpu instead of load t

[2022-09-02 00:48] mathemakitten commented on #285
Hi @zhangsiyu1103! I was able to run this pipeline on GPU by passing `device=0` in the pipeline as opposed to within the evaluator's `compute` function — can you try this out like below and let me know if it works for you?

[code]

[2022-09-02 01:06] zhangsiyu1103 commented on #285
This

[2022-09-02 01:07] zhangsiyu1103 commented on #285
Moving device setting inside the pipeline works! But I guess this bug still exists for the evaluator compute function.

[2022-09-02 01:08] mathemakitten commented on #285
Yes, thanks for flagging! We missed an edge case in the `compute` function for the evaluator where if you pass a pipeline which was already instantiated without a device then it won't run on device even if a device is later passed to `compute`. I'll push a fix shortly!

[2022-09-02 01:12] #285 closed

[2022-09-07 20:00] kadirnar opened #288 "Why is there no pytest library in additional-tests-requirements.txt file?"
I wrote the bary_score metric codes. I want to run test codes locally. I ran this code but the installation of the pytest library is missing.

Install Test Req.txt:
[code]
Error Message:
[code]
Is this a bug or does it have to be installed manually?

[2022-09-07 20:07] kadirnar commented on #288
I guess I need to run this code too.
[code]

[2022-09-08 16:13] mathemakitten commented on #288
Hi @kadirnar! Thanks for your contributions to `evaluate`. You can run tests locally on your machine like this:

`HF_ALLOW_CODE_EVAL=1 python -m pytest -d --tx 2*popen//python=python --dist loadfile -sv ./tests/test_evaluator.py`

You can also run a specific test like this:

`HF_ALLOW_CODE_EVAL=1 python -m pytest --capture=no  -v -d --tx 2*popen//python=python --dist loadfile -sv ./tests/test_eval

[2022-09-08 21:05] kadirnar commented on #288
Thank you for the answer.

I tried these but it gives an error.
Code:
[code]
Error Message:
[code]

[2022-09-08 21:28] mathemakitten commented on #288
I'm glad to hear it! 🤗 We don't currently have a CONTRIBUTING.md, but we probably should, and we'll add it there!

In the meantime I'll close this issue, but feel free to re-open if you have more questions.

[2022-09-08 21:28] #288 closed

[2022-09-09 16:18] fxmarty commented on #285
@zhangsiyu1103 Note that this issue may slightly (~0.1%) shift your evaluations using the image classification evaluator: https://huggingface.co/datasets/imagenet-1k/discussions/1

[2022-09-15 22:40] mathemakitten commented on #281
Ah yes you're right! I was able to run glue/mnli after pulling the changes from #283 as a text classification task. Will attach code below for posterity in case anyone else plans to do this.

[code]

[2022-09-15 22:40] #281 closed

[2022-09-17 16:40] #282 closed

[2022-09-21 03:57] why-in-Shanghaitech opened #294 "Cannot load metric from cache"
If we first run `metric = evaluate.load("seqeval")` in an environment with network, then run it in an environment without network, then it will fail:

[code]

(Well, this is the error message from `transformers`. The original error message is caught by `transformers`.)

This is caused by incorrect cache folder name.

https://github.com/huggingface/evaluate/blob/283a1f07d6360e960b3ae829f2aeca839ce2

[2022-09-21 07:49] lvwerra opened #296 "Yaml verification for module READMEs"
The Hub performs YAML verification when a repository is pushed. Since we push modules regularly but don't perform verification on our end the GitHub Action on main can fail even if the CI on the PR is green. It would be great to add a verification step to the tests so we are sure the modules can be pushed without issue.

See #295 for example.

cc @mathemakitten @sashavor

[2022-09-21 09:16] lvwerra opened #297 "Integrate `scikit-learn` metrics into `evaluate`"
## Summary

We want to support the wide range of metrics implemented in `scikit-learn` in `evaluate`. While this expands the capabilities of `evaluate` it also gives users from the `scikit-learn` ecosystem access to useful tools in `evaluate` such as pushing results to the hub or end-to-end evaluate models with the `evaluator` classes. As a bonus, all metrics will get an interactive widget that ca

[2022-09-21 10:17] sezan92 commented on #297
can anyone work on this ?

[2022-09-22 02:28] mathemakitten commented on #296
Good call. It seems like the Hub repo pings the `/api/validate-yaml` endpoint, which is a Gitaly hook (?), but I'm unclear on where that lives in prod, do you happen to know?

[2022-09-22 11:37] ola13 commented on #165
Hey @cakiki are you still interested in working on this?

I'm thinking about IR metrics in the context of building the retriever for ROOTS - I want a simple way to test the quality of retrievers I'm building and I'm thinking about the following approach right now:
- choose a sample of all documents from ROOTS - similar to https://huggingface.co/datasets/bigscience-data/roots_1e-1 but with two diff

[2022-09-22 13:10] #169 closed

[2022-09-22 13:18] cakiki commented on #165
@ola13 Yes :smile_cat: ! The ones I'm adding are ranked relevance metrics like nDCG@k and MAP@k. What is ICT?

[2022-09-22 13:41] josecannete opened #300 "AttributeError: module 'evaluate.info' has no attribute 'Config'."
Hi, thank you so much for all your work. This is just to let you know about an issue that appeared.

I was loading a metric using:

`metric = evaluate.load("roc_auc", "multilabel")`

And the following error appeared:

`    class ROCAUCConfig(evaluate.info.Config):
AttributeError: module 'evaluate.info' has no attribute 'Config'.`

It seems related to the last commit of this repo: https://github.co

[2022-09-22 13:44] lvwerra commented on #300
Thanks for reporting, we noticed the issue and the PR got reverted. It should work again now.

[2022-09-22 13:45] muellerzr commented on #300
What I find very strange about this is we got the same issue even though we were installing from pypi in Accelerate 🤔

[2022-09-22 13:45] ola13 commented on #165
ICT - Inverse Close Task, e.g. as defined here https://arxiv.org/pdf/1906.00300.pdf

Yes I think what would be more easy for my use-case would be things like Recall / Precision @n etc, I can take a stab at those then :)

[2022-09-22 13:45] lvwerra commented on #300
It's because also the metrics on the Hub got updated and it seems something with the versioning between `evaluate` and the scripts on the hub did not work properly.

[2022-09-22 13:46] muellerzr commented on #300
(Sorry deleted my comment b/c I wasn't 100% sure when it was merged)

Context on above comment: not 100% sure why this trickled over when we were installing via pypi as well

[2022-09-29 21:06] meg-huggingface opened #304 "Add WEAT metric for bias testing"
https://arxiv.org/abs/1608.07187v3
https://wefe.readthedocs.io/en/latest/_modules/wefe/metrics/WEAT.html

[2022-10-03 15:12] mathemakitten commented on #296
If we don't care about matching exactly the way that the Hub does it, we can do it in pure python with pyyaml:

[code]

[2022-10-04 11:55] lvwerra commented on #296
Yes, that's what I had in mind. We probably need to strip out the YAML part of the README first. This can be done with [this regex](https://github.com/huggingface/huggingface_hub/blob/af1d49e9eed3b31be86652cfcfdae9bfba4f3814/src/huggingface_hub/repocard.py#L39).

Then we just need to iterate over all README's of metrics/measurements/comparisons and that should be it 😄

[2022-10-04 17:46] mathemakitten opened #307 "Tests for Spaces requirements.txt upon push of new module"
Upon merges we've sometimes had metrics Spaces break because of missing requirements which then need to be added to requirements.txt later.

Not sure what the best way to detect this is, though — sometimes it's not obvious because the requirement is wrapped in a library which has optional dependencies (e.g. [this](https://huggingface.co/spaces/evaluate-measurement/toxicity/blob/main/toxicity.py) o

[2022-10-05 14:20] lvwerra commented on #307
Maybe a bit down the road we could similar to the doc builder create a test org or just a space with the new module and check if the space is up and running. When the PR is merged the test space could be deleted.

Alternatively, we could also setup an env for each space and spin up the gradio app. This is potentially quite slow and the tests are already getting pretty slow.

[2022-10-07 13:23] izaskr opened #313 "IndexError: index out of range in self when computing perplexity with German GPT-2"
I followed [your tutorial](https://huggingface.co/spaces/evaluate-metric/perplexity) on computing perplexity of list of sentences. I used the German GPT-2 model `dbmdz/german-gpt2`.

My code:
[code]

Error:
[code]

When I use the English GPT-2 model `gpt2`, there's no error.

[2022-10-09 10:11] TinaChen95 opened #315 "How can I use the code offline?"
Hi, friends, I meet a problem about how to use the code offline.

import evaluate
metric = evaluate.load("accuracy")

How can I pre-download related files and solve this problem?
Thanks.

[2022-10-09 10:11] TinaChen95 opened #316 "How can I use the code offline?"
Hi, friends, I meet a problem about how to use the code offline.

import evaluate
metric = evaluate.load("accuracy")

[2022-10-10 07:18] sanderland opened #317 "matthews correlation for multiple features?"
I'd like to add matthews correlation for the multilabel case.
This essentially has a few options:

* ("micro") flatten predictions and targets, then calculate
* ("macro") calculate it per-feature and average
* Implement micro, macro and binary as in f1 score.

Since scikit-learn doesn't support this out of the box, this may also be a terrible idea for some reason, in which case I'd like to learn w

[2022-10-10 08:31] #296 closed

[2022-10-10 11:47] morrisalp commented on #315
I see this was possible with `datasets.load_metric`: https://discuss.huggingface.co/t/using-load-metric-offline-in-datasets/9283

Does it work for `evaluate`?

I am encountering the same issue with BLEU. It's not intuitive that the library downloads the metric from the internet on every use, and it would be great for the documentation to cover how to cache metrics for offline use.

[2022-10-10 16:45] mathemakitten commented on #315
Hi @TinaChen95! Yes, loading a metric offline should work as mentioned in the thread linked by @morrisalp — accuracy is a "canonical" metric so it's integrated into the `evaluate` library already at `metrics/accuracy/accuracy.py` so you should be able to pass that in. Let me know if that doesn't work.

You're right that we should document this better though, right now it's sort of [buried](https:/

[2022-10-10 16:47] mathemakitten commented on #316
Closing as this is a dupe of #315 :)

[2022-10-10 16:47] #316 closed

[2022-10-10 19:56] Mouhanedg56 commented on #313
This error has nothing to do with `evaluate`. It is a bug inside the german model itself.
`IndexError: index out of range in self`: this error appear when your encoded token ids are larger than your embeddings size.
For instance, in this case:
[code]
and the embedding size (you can see this through `model.transformer`): 50265.
indices cannot be higher than embedding_dim-1, which is 50264, since th

[2022-10-11 03:46] versipellis opened #319 "Parallelizing Evaluation Functions?"
Hi, is there a way to parallel process some of the evaluations? e.g. BLEU and BLEURT take quite a while to run (~6hrs) on even just ~2000 examples in my test set.

[2022-10-11 08:28] lvwerra commented on #319
That seems extremely slow, especially for BLEU. Can you provide a minimal reproducible example? For BLEURT you might benefit from running it on a machine with GPU as it runs BERT inference to compute the metric.

[2022-10-11 08:42] Mouhanedg56 commented on #297
I'll be more than happy to work on this new integration.

[2022-10-11 08:43] Mouhanedg56 commented on #297
#self-assign

[2022-10-11 08:51] lvwerra commented on #297
I have some ideas on how this could be done and I'll start drafting a PR hopefully this week and I can tag you on it @Mouhanedg56!

[2022-10-11 09:43] osanseviero opened #320 "Add guides on how to use evaluate with training libraries"
It would be super nice to have some guides in the docs using evaluate + common training libraries (transformers , keras, PT Lightning, etc). I think showing how to integrate new metrics into existing codebases easily could be very useful

[2022-10-11 10:01] Mouhanedg56 commented on #297
Okey, sounds good.
I was trying listing scikit-learn metrics using inspect module and it works very well:
[code]

**Output**
[code]

[2022-10-11 13:27] versipellis commented on #319
Not easily. Apologies, I meant BLEU and BLEURT together. I am running it on a 4-GPU cluster. Could it be that it's not using the GPU and instead using CPU?

[2022-10-11 14:35] #313 closed

[2022-10-11 14:57] lvwerra commented on #319
It seems that the BLEURT code is not optimized for multi-GPU inference. You could try to increase the batch size though or using a model like `BLEURT-20-D3`:

https://github.com/google-research/bleurt#speeding-up-bleurt

Length based batching would require changes in the code current implementation in`evaluate`.

[2022-10-12 05:06] sezan92 commented on #297
@lvwerra , i would like to contribute as well. is it possible?

[2022-10-12 07:27] NielsRogge opened #321 "Add Average Normalized Levenshtein Similarity (ANLS)"
Document visual question answering (DocVQA) models, like LayoutLM and Donut, are evaluated using the Average Normalized Levenshtein Similarity metric (ANLS for short).

Would be very useful for the community to have this metric in the evaluate library.

The metric was introduced here for DocVQA: https://rrc.cvc.uab.es/?ch=17&com=tasks.

![image (4)](https://user-images.githubusercontent.com/483270

[2022-10-14 14:59] km5ar opened #323 "FileNotFoundError"
[code]

Couldn't find a module script at........
module "rouge" doesn't exist on the hugging face hub either

Any suggestion?

[2022-10-14 15:02] lvwerra commented on #323
Hi @km5ar, could you provide the version of `evaluate` you are using? Just tried it on a fresh environment on Colab and it works.

[2022-10-14 16:08] lewtun opened #324 "[Feature request] Add evaluator for speech2text models"
Now that Whisper is integrated into `transformers` and the large number of speech2text models on the Hub, it might be interesting having a speech2text evaluator that computes common metrics like word error rate etc.

This would be especially useful for `optimum` users, who want to know if their exported models suffer any degradation from quantization etc.

I don't have bandwidth to tackle this rig

[2022-10-17 20:32] noobmldude commented on #297
@Mouhanedg56 looks promising with the `inspect` module.

Is it certain the metrics all end with `score`?
Or is this just a prototype and you plan something more robust for final implementation?

[2022-10-18 13:39] lvwerra opened #326 "Evaluate usage in other frameworks"
Similar to #325 it would be great to show how to use `evaluate` metrics in other frameworks. Each framework can have its own section in `metrics_integration.mdx`. Example frameworks are:

- fastai
- Pytorch Lightning
- scikit-learn
- Keras/TensorFlow

Just to name a few. Ideally this includes a representative code snippet that shows the workflow of using `evaluate` in that framework that allows th

[2022-10-18 14:52] Raibows opened #327 "default blank row of launch_gradio_widget in web demo app may confuse users"
I notice that the default row of ``dataFrame`` of ``launch_gradio_widget`` is set to ``2``. Since the gradio does not provide ``delete_row`` option in the webui interface, the calculation of some web demos (e.g., exact_match, I don't test all) includes the blank row, which may confuse the user.
For example, if we as the users only hope to calculate the exact match score of one sample, thus we only

[2022-10-23 12:47] falcaopetri commented on #234
@lvwerra I also need to pass custom kwargs to my metrics. My current workaround is to overwrite `CombinedEvaluations .compute` in a child class and remove
https://github.com/huggingface/evaluate/blob/eaf34a7d04e7ab3e6155a046f6d7fda01d9ead84/src/evaluate/module.py#L858

This works in my specific use case because all my (custom) metrics accept `**kwargs` in their `compute` method, which means they w

[2022-10-24 08:59] PhMeier opened #329 "rouge-score not found by evaluate.load()"
Hello,
I have a problem loading the rouge metric with evaluate.load(). Apparently, the rouge_scores library (https://github.com/google-research/google-research/tree/master/rouge) is not found by evaluate. I followed your tutorial from https://huggingface.co/course/chapter7/5?fw=pt#preprocessing-the-data (section 'Metrics for Text Summarization') and installed the rouge_score library. I got access

[2022-10-25 12:48] lvwerra opened #331 "Improve tests"
This is a summary issue to gather ways to improve the current testing. Currently, I see three things to improve the tests:

1. Move CircleCI tests to GitHub Actions.
2. Make tests run faster - currently it takes 10-15min to run the test suite.
3. The error messages of the doctests that run for the metrics (measurements/comparisons) are hard to read. It would be great if we could improve that.

cc

[2022-10-25 12:59] lvwerra commented on #324
Can you maybe share which transformers pipeline one could use this and what typical datasets/metrics are?

[2022-10-25 14:38] PhMeier commented on #329
I've used version 0.3.0 of evaluate and rouge-score 1.2.1 in Python 3.9.2 with this code example:
[code]

[code]

Now it works! I'm pretty sure that I've tried this combination yesterday. Seems like Python 3.8.6 caused the issue.

Anyways thanks again for the fast reply and this great library!

[2022-10-25 14:39] lvwerra commented on #329
I think loading `rouge_score` before might lead to a namespace clash with the evaluate importer in the last example.

What's odd in the original message is that it says you should install `rouge` whereas the import is actually `rouge_score`. The error comes from here:
https://github.com/huggingface/evaluate/blob/960dc92ef6a86e3b11d7b7276b4960135a3129b9/src/evaluate/loading.py#L262-L272

When looki

[2022-10-25 16:05] PhMeier commented on #329
I may want to add some information to my previous post. Adressing the rouge metric via evaluate.load("rouge") still yields the 'type Error' or the 'ImportError' above, even with  0.3.0 of evaluate and rouge-score 1.2.1 in Python 3.9.2.

I've cloned the repository and the load method receives the path to the rouge directory in the 'metrics' folder.
``
rouge_score = evaluate.load("/home/hd/hd_hd/hd_

[2022-10-26 09:45] lvwerra commented on #329
That's very odd, e.g. the line `from rouge import io` does not exist in the [file](https://github.com/huggingface/evaluate/blob/main/metrics/rouge/rouge.py), I wonder which file this is importing.

[2022-10-26 12:21] PhMeier commented on #329
I only cloned [evaluate](https://github.com/huggingface/evaluate) and pointed then to metrics/rouge as stated in the documentation.

`rouge_score = evaluate.load("/home/hd/hd_hd/hd_rk435/evaluate/metrics/rouge")`

In this way, no error occurs. Only calling evaluate.load("rouge") does not work.  [rouge-score](https://github.com/google-research/google-research/tree/master/rouge) was installed via pi

[2022-10-27 11:42] saattrupdan commented on #10
We're faced with this lack of standardisation too. In our package we're working with metrics in a generic fashion, and not having a uniform output format of the metrics is quite frustrating. We can hack our way out of it by checking for the dtype of the outputs, but it would be much preferable if they all returned the same format.

Given that some metrics inherently outputs multiple values (such a

[2022-10-28 13:22] km5ar commented on #323
I tried on both py3.7 and 3.9. @lvwerra
sorry for the late reply.

<img width="1778" alt="image" src="https://user-images.githubusercontent.com/54015474/198606261-7b97a50a-626a-41ea-bd08-8b2d1a69ff39.png">

<img width="1818" alt="image" src="https://user-images.githubusercontent.com/54015474/198606698-79a86036-3ae0-4fcd-a071-c0d32e9ebf2e.png">

<img width="990" alt="image" src="https://user-images

[2022-10-28 17:29] JamesHujy opened #332 "Bug in computing perplexity about max_length"
In [perplexity.py line 138](https://github.com/huggingface/evaluate/blob/main/metrics/perplexity/perplexity.py#L138), tokenizer tokenizes the input_text with truncation by max_length. max_length is equal to the model.config.max_length.

[code]

However, in many models, there is no specified max_length, so max_length here is actually the default value as 20. See [configuration_utils.py line 278](ht

[2022-10-30 13:24] hfawaz commented on #169
Is this actually solved since it is reverted in https://github.com/huggingface/evaluate/pull/299 ?

[2022-10-31 21:29] sgunasekar opened #334 "how to see the metrics in an EvaluateModule & comparison of EvlauationModules"
After loading metrics from a configuration, say metrics = evaluate.load("glue","mnli"), how can I access what individual metrics the EvaluateModule would compute (I couldn't find an easy way to do this from the documenation). Also is there a way to check if two EvaluateModule  are of the same type -- i.e., do they calculate the same metrics and take same inputs?

[2022-11-01 13:25] lvwerra commented on #334
Hi @sgunasekar, if by individual metric you mean the keys in the returned dictionary, then there is currently no way of doing so programmatically. There is some documentation in the [readme](https://huggingface.co/spaces/evaluate-metric/glue).

Note that `glue` is kind of an edge case since it is more a collection of metrics used for different glue tasks where other modules (such as `accuracy` or

[2022-11-01 13:28] lvwerra commented on #329
This is very weird and I can't reproduce it on my end - can you reproduce this e.g. on Colab? A guess is that somehow the installed `rouge-score` package is in the path when `evalaute.load` is called and thus `load` tries to load `google-research/rouge/rouge.py` instead of the evaluate script.

[2022-11-01 13:33] lvwerra commented on #327
Hi @Raibows, thanks for pointing this out! Indeed that's an issue that would be great to fix. You suggestion of setting the default to `1` and in addition check for null inputs as a failsafe sounds good to me! Feel free to open a PR and let me know if you need any help! Sorry for not replying on the Hub issue, these sometimes slip :)

[2022-11-01 13:45] lvwerra commented on #323
Not sure all the issues here are related :)

@muximus3 if `rouge-score` is not installed you should get an error like:
[code]

@km5ar is it possible that the machine where you got the first error was not connected to the internet? In the second case it looks like you have not installed `evaluate`.

On Colab the following code works:
[code]

[2022-11-01 13:46] lvwerra commented on #320
Closing in favour of #326.

[2022-11-01 14:05] lvwerra commented on #317
For the multi-class case there seems to be a [formal definition](https://en.wikipedia.org/wiki/Phi_coefficient#Multiclass_case) of how to compute MCC, however, I couldn't find anything on the multi-label case. Maybe there is something about this in literature?

[2022-11-01 14:14] lvwerra commented on #294
Indeed, I can reproduce that caching the metric script does not seem to work. Let me look into this!

[2022-11-01 14:41] #332 closed

[2022-11-01 16:48] sgunasekar commented on #334
I menat the former--keys of returned dictionary after compute. Glue might be currently a special case, but imo its not unusual to have multiple metrics. I haven't looked into the code too deeply, but if its not too complicated i can yake a stab at it.

[2022-11-01 20:19] sanderland commented on #317
A multi-label problem is essentially just a collection of binary classification problems, so it's more about how related you want to see the objectives I think.

[2022-11-02 02:48] km5ar commented on #323
Thank you! I fixed it by download the rouge.py file manually! @lvwerra

[2022-11-02 09:42] #323 closed

[2022-11-02 09:45] lvwerra commented on #317
Sounds good, feel free to open a PR. You can look at other integrated scikit-learn metrics like F1 score to see how to deal with multilabel featuers. Let me know if you need any help!

[2022-11-02 09:49] lvwerra commented on #239
Maybe this helps?
https://stackoverflow.com/questions/59690698/modulenotfounderror-no-module-named-lzma-when-building-python-using-pyenv-on

[2022-11-02 17:49] mathemakitten opened #338 "Evaluator should handle metric kwargs"
Currently the evaluator's `prepare_metric` function does not take metric kwargs; they should be passed all the way down and the call in `prepare_metric` should be changed to `evaluate.load(module_name, **kwargs)`

cc @NimaBoscarino so we don't forget :)

[2022-11-06 17:44] PhMeier commented on #329
Hi @lvwerra
I've found the solution! I had an old cloned repository named 'rouge', which caused the confusion. Should have checked that earlier! Thanks again for your time and help.
Script:
[code]
Output:
[code]

[2022-11-06 17:44] #329 closed

[2022-11-07 21:44] mathemakitten opened #343 "Evaluator needs a simple way to check if a model is within its supported types"
With @sashavor, we found that the below example doesn't work with the QA Evaluator — but it's not obvious that it wouldn't.

Docs for the QA Evaluator say "Methods in this class assume a data format compatible with the [QuestionAnsweringPipeline](https://huggingface.co/docs/transformers/en/main_classes/pipelines#transformers.QuestionAnsweringPipeline)." That links out to https://huggingface.co/mod

[2022-11-08 11:20] #294 closed

[2022-11-08 13:58] #327 closed

[2022-11-08 22:51] pcallec opened #349 "Is there a way to obtain perplexity using two GPUs?"
I have two GPUs, the model is currently using one GPU. Is there a way to be able to use two GPUs? I thinking something like device_map parameter in AutoModelForCausalLM.from_pretrained

[2022-11-10 10:57] clefourrier opened #352 "Parts of evaluate demo spaces illegible in dark mode"
Code text is not legible in dark mode, because the chosen font color is too dark.

Example here in the [accuracy](https://huggingface.co/spaces/evaluate-metric/accuracy) demo space.

![image](https://user-images.githubusercontent.com/22726840/201073243-112171db-d814-4c92-9906-1d08e0350132.png)

[2022-11-10 13:29] clefourrier opened #353 "What is the MAE range in evaluate?"
In the MAE demo space, it is indicated that "Each MAE float value ranges from 0.0 to 1.0, with the best value being 0.0."

Doesn't it range from 0 to +inf in general ?
Is it a programmatic constraint added on the evaluate MAE score?

[2022-11-10 19:24] jxmorris12 opened #354 "Issue using evaluate with transformers 4.24.0"
I tried updating transformers today (`pip install transformers --upgrade`) and saw a strange error related to evaluate, transformers, and perhaps my version of CUDA:

[code]

I fixed it for now by downgrading to transformers 4.23.1, but I want to upgrade again eventually.

[2022-11-11 10:57] lvwerra commented on #354
I just tried this with the latest `evaluate` version and `transformers==4.24.0` and can't reproduce it. Can you run `from transformers import Pipeline, pipeline`? If not then this is a `transformers` issue rather than an `evaluate` issue.

[2022-11-11 16:15] lvwerra commented on #354
This doesn't seem like an `evaluate` issue but an issue with your environment in general: in the first case the error comes from importing `pandas` and in the second case from `transformers`. How are you setting up your environment? Are you using `conda` or `virtualenv`?

[2022-11-11 16:44] jxmorris12 commented on #354
I'm using conda. The issue is caused by upgrading transformers. It works when I downgrade. how could that be an issue with my environment?

[2022-11-11 17:21] lvwerra commented on #353
True, it should be `[0, inf)` - would you mind opening a PR? The file is in `metrics/mae/readme.md`.

cc @sashavor who wrote this I think.

[2022-11-11 17:31] lvwerra opened #355 "Problem with `add` method and `Rouge`"
As reported [here](https://huggingface.co/spaces/evaluate-metric/rouge/discussions/3) the following code yields an error:
[code]

[code]

[2022-11-11 17:52] lvwerra opened #356 "Alternative backends for `evaluate`"
Currently `add`, `add_batch` as well as `compute` store data in Arrow format and then load it back to memory to feed it to `_compute`. There are a number of advantages to the current format:

- **typing**: the data's types are tested before written to the arrow table
- **memory**: especially when using `add` and `add_batch` no data is kept in memory and with minor adjustments even for computing th

[2022-11-11 18:04] lvwerra commented on #349
Your use-case would be a model that doesn't fit in a single GPU?

[2022-11-14 03:25] liumaishen commented on #315
I wonder why such commonly used metrics need to be loaded online

[2022-11-14 15:13] hemantvikani opened #358 "evaluator causing key error issue"
I am using this evaluate library for evaluating the model against dataset. But getting key error, i am not sure if models got updated or evaluate needs to be updated. Please see the logs file and help in resolving this issue

Using Python version 3.7, and the error is reproducible on multiple host.
[logs_for_evaluate.txt](https://github.com/huggingface/evaluate/files/10004259/logs_for_evaluate.txt

[2022-11-16 09:44] lvwerra commented on #358
@fxmarty could you have a look at this?

[2022-11-16 09:45] lvwerra commented on #353
Closed with #359

[2022-11-16 09:45] #353 closed

[2022-11-16 10:17] lvwerra commented on #315
The main reason is that it simplifies the library by just having a single mechanism to load metrics and causes less confusion than having different mechanisms for some metrics.

[2022-11-16 11:28] ernestchu commented on #234
Has this been resolved?

[2022-11-16 14:44] lvwerra commented on #354
It's just weird that it also breaks `pandas`.  In any case it seems to be not an issue with `evaluate` but rather `transformers`. Do you mind opening an issue there?

[2022-11-16 14:57] jxmorris12 commented on #354
ok

[2022-11-16 14:57] #354 closed

[2022-11-17 03:55] pcallec commented on #349
Yes, it is necessary to use 2 GPUs because of the model size

[2022-11-17 11:13] lvwerra commented on #234
Not yet. There is an issue with the sync mechanism between the hub and the library which is why we had to roll back #169. Merging it will break pre 0.3.0 installs so we need to wait for sufficient adaptation.

[2022-11-17 11:20] lvwerra commented on #10
We tried to make dicts for most metric, but it's possible we missed those. Yes, feel free to open a PR, but we should also check that some of the popular libraries (e.g. `transformers`) using `evaluate` will not break if we merge this.

Two things we can do:

1. search for `evaluate.load("cer"` on GitHub)
2. make the returned type dependant on `evaluate.__version__` and only return a dict for the

[2022-11-17 11:22] lvwerra commented on #349
So this is currently not supported but feel free to open a PR! Happy to help. Might also be interesting for @mathemakitten and @TristanThrush who have been working with larger models.

[2022-11-17 11:23] lvwerra commented on #352
This seems to be an issue with code snippets in Gradio. Should we open an issue on the Gradio repo @abidlabs?

[2022-11-17 11:24] #239 closed

[2022-11-17 11:25] #244 closed

[2022-11-17 11:25] lvwerra commented on #244
Closing this for now, let me know if you are still facing the issue with `0.3.0`

[2022-11-17 15:03] abidlabs commented on #352
Yes please do @lvwerra, thanks!

[2022-11-17 16:03] lvwerra commented on #352
See: https://github.com/gradio-app/gradio/issues/2662

[2022-11-17 16:23] abidlabs commented on #352
Tested and realized that this has already been fixed in the latest version of Gradio. Can you upgrade the Spaces sdk version to gradio==3.10.0`?

[2022-11-17 16:23] #352 closed

[2022-11-17 19:54] arjunpatel7 commented on #326
Hi! I'm interested in taking up writing an example for Keras/Tensorflow. Would this just be like using the metric inside of a callback for training a model? If I write a script that does that, would that work as an example? Thanks in advance!

[2022-11-18 13:59] rabah-khalek opened #365 "PyTorch models predictions varies with the same data input"
Starting by loading a pretrained model (I tried two here) and tokenizer:
[code]

then, loading some txt data:
[code]
taking two subset from the data (first 5 and 100 entries):
[code]
while the output of the model on the second subset’s first entry (same entry effectively) is:
[code]
gives:
[code]
Although they should be the same, there’s a difference in the second prediction:
[code]
which gives:
[

[2022-11-18 17:59] arjunpatel7 commented on #326
Just talked with @lvwerra on discord about taking this up. I'll complete a Keras example by early next week or so!

[2022-11-18 23:25] osanseviero commented on #326
Sounds great, thanks a lot! 🔥

[2022-11-19 17:22] awinml commented on #326
I would like to write an example for the integration with the **scikit-learn** framework.

[2022-11-19 17:23] awinml commented on #326
/take

[2022-11-22 03:17] MrBlack0220 opened #369 "import evaluate"
hi，when I try to `import evaluate`， error happens:
![image](https://user-images.githubusercontent.com/87848800/203212202-90b51a69-628d-4f3f-aa4b-5acd3c5e8049.png)
I use python 3.8.14，transformers 4.8.1.
But when I run this code on another virtual environment with python 3.9 , I can import evaluate correctly.
Could you give me some advice?

[2022-11-22 03:23] MrBlack0220 commented on #369
My evaluate version is 0.3.0

[2022-11-22 14:15] fxmarty commented on #358
Hi @hemantvikani , I can not reproduce the issue with `evaluate==0.3.0` and `transformers==4.24.0`. Can you confirm to me your package versions?

[2022-11-22 14:22] hemantvikani commented on #358
Hi @fxmarty, I have used evaluate==0.3.0 and transformers==4.10.0

[2022-11-22 15:15] fxmarty commented on #358
Thanks! transformers 4.10.0 is more than one year old, could you update it? `pip install -U transformers`.

[2022-11-25 11:03] Marcel1805 opened #373 "Offline-Usage of Evaluate"
Hello everybody,

unfortunately I don´t have internet connectivity on the server on which I´d like to use the evaluate-package. I can install the package via pip, but for every basic action such as evaluate.load() the package tries to open a socket to download the needed metrics.
For the predecessor seqeval I found solutions as to download the metrics themselves on the local client, and then uploa

[2022-11-25 11:05] #373 closed

[2022-11-25 11:05] Marcel1805 commented on #373
Just saw many other similar issues, closing it as a duplicate. :)

[2022-11-25 12:40] Sumanth077 commented on #355
Hi @lvwerra, Happy to work on this Issue. Would be really great to get more information about the issue and also guidance from you. Thankyou

[2022-11-25 12:45] lvwerra commented on #355
Hi @Sumanth077, that would be great. Under the hood this [`add`](https://github.com/huggingface/evaluate/blob/b571f12c15600c1eec03e9e2ae785bf695d5c4bd/src/evaluate/module.py#LL514) method is called. It could be either `_infer_feature_from_example` or `_enforce_nested_string_type` that is not working as expected. The former infers which feature type is used if a metric defines several (as in ROUGE)

[2022-11-25 13:32] Sumanth077 commented on #355
Thankyou @lvwerra. Could you also kindly attach the exact file link of Rouge here. It would be great.

[2022-11-25 13:36] lvwerra commented on #355
Sure, it's [here](https://github.com/huggingface/evaluate/blob/b571f12c15600c1eec03e9e2ae785bf695d5c4bd/metrics/rouge/rouge.py).

[2022-11-25 14:20] lvwerra commented on #365
This seems to be a question more for `transformers` than `evaluate` :) That said, it seems the difference is very small so it could be a numerical issue. Also have you tried settings `model.eval()` such that it is in evaluation mode and not `train()` model where random dropout is used?

[2022-11-25 14:26] lvwerra commented on #369
Seems like an issue with your environment and TensorFlow. Maybe this helps:
https://stackoverflow.com/questions/41890549/tensorflow-cannot-open-libcuda-so-1
https://forums.developer.nvidia.com/t/cannot-find-libcuda-so-1/121260

[2022-11-28 21:55] Marcel1805 commented on #315
Unfortunately the proposed solution is not working for me:
I´ve cloned the dataset repo, which includes the metrics directory and uploaded accuracy.py to my server with no public internet access.
Do you have any idea what might be my problem?
Thank you very much!
![image](https://user-images.githubusercontent.com/12809547/204388885-3da6262e-2368-44f4-a6f0-043393b38b08.png)

[2022-11-29 10:35] lvwerra commented on #315
Hi @Marcel1805, can you clone the `evaluate` repository instead of `datasets`. The metrics between the two libraries are not compatible. Let me know if this works.

[2022-11-29 12:37] Marcel1805 commented on #315
Yes it worked with those metrics from the evaluate repo, thank you very much!

[2022-11-29 17:28] #326 closed